<div class="card">
  <div class="header">
    <div class="header-content" [ngStyle]="getHeaderStyle()">
      <div class="description">
        {{ drawer.Id }}
      </div>
      <div class="title">
        <div class="title-content">
          <div *ngIf="drawer.Status!==controlDataStatus.Empty">
            {{ drawer.PriorityDescription }}
          </div>
        </div>
      </div>
      <div class="index">
        <div *ngIf="drawer.Status!==controlDataStatus.Empty">
          {{ dispenseBox.BoxNumber }} / {{ dispenseBox.BoxCount }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="drawer.Status!==controlDataStatus.Empty" class="active">
    <div class="body">
      <div class="body-content">
        <div class="grid-container">
          <div class="grid-label">{{'DESTINATION' | translate}}:</div>
          <div class="grid-data">
            {{ dispenseBox.PatientName }}
            <br />
            {{ dispenseBox.Area }}
          </div>
          <div class="grid-label">{{'ID' | translate}}:</div>
          <div class="grid-data">
            {{ dispenseBox.OrderId }}
          </div>
          <div class="grid-label">{{'FILLEDQTY' | translate}}:</div>
          <div class="grid-data">
            {{ dispenseBox.FillQuantity }}
          </div>
          <div class="grid-label">{{'LINEITEMS' | translate}}:</div>
          <div class="grid-data">
            {{ drawer.LineItems }}
          </div>
        </div>
      </div>
      <div class="button-content">
        <oc-button-action mode="secondary" [buttonIcon]="'print'" (click)="onPrintClick()"></oc-button-action>
      </div>
    </div>
    <div class="footer"></div>
  </div>
  <div *ngIf="drawer.Status===controlDataStatus.Empty" class="inactive">
    <div class="empty-content">{{'EMPTY' | translate}}</div>
  </div>
</div>
