.button-content {
  height: 41px;
  display: flex;
  height: auto;
  width: 100%;
  margin-bottom: 5px;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  border: solid;
  border-radius: 5px;
  border-color: grey;
  box-sizing: border-box;
  overflow: hidden;

  .header {
    height: 15%;
    width: 100%;

    .header-content {
      display: flex;
      flex-direction: row;
      border-bottom: solid;
      border-color: grey;
      width: 100%;
      height: 100%;
      font-size: 18px;

      .description {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 7%;
      }

      .title {
        display: flex;
        align-items: center;
        height: 100%;
        width: 73%;
        border-left: solid;
        border-width: 1.5px;
        border-color: grey;

        .title-content {
          padding-left: 10px;
        }
      }

      .index {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 20%;
        padding-right: 7px;
      }
    }
  }

  .active {
    height: 85%;
    width: 100%;

    .body {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;

      .body-content {
        height: 100%;
        width: 100%;
        border-width: 2px;
        border-color: grey;
        font-size: medium;
        align-items: center;
        margin-top: 5px;

        .grid-container {
          display: grid;
          height: 95%;
          width: 100%;
          grid-template-columns: 90px 100%;
          grid-template-rows: auto;
          grid-template-areas: "grid-label grid-data";
        }

        .grid-label {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          color: grey;
          justify-content: flex-end;
        }

        .grid-data {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          margin-left: 15px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .row {
          display: flex;
          flex-direction: row;
          height: 25%;
          width: 100%;
          color: grey;
          align-items: center;

          .label {
            padding-left: 5px;
            padding-right: 5px;
            width: 30%;
          }

          .data {
            padding-left: 5px;
            padding-right: 5px;
            width: 70%;
            font-size: 15px;
            color: black;
          }
        }
      }


    }

    .footer {
      height: 5%;
      width: 100%;
    }
  }

  .inactive {
    height: 85%;
    width: 100%;

    .empty-content {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: xx-large;
      color: grey;
    }

    .unknown-content {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;

      .unknown-text {
        display: flex;
        font-size: xx-large;
        color: grey;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
      }
    }
  }
}
