.card {
  width: 100%;
  height: 100%;
  border: solid;
  border-width: 2px;
  border-color: grey;
  border-radius: 5px;
  font-family: sans-serif;
  box-sizing: border-box;

  .header {
    display: flex;
    height: 15%;
    width: 100%;
    font-size: large;
    color: #333333;
    font-weight: 500;

    .header-content {
      display: flex;
      flex-direction: row;
      border-bottom: solid;
      border-color: grey;
      border-width: 2px;
      width: 100%;
      height: 100%;

      .description {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 7%;
      }

      .title {
        display: flex;
        align-items: center;
        height: 100%;
        width: 77%;
        border-left: solid;
        border-width: 1.5px;
        border-color: grey;

        .title-content {
          padding-left: 10px;
        }
      }

      .index {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 16%;
      }
    }
  }

  .body {
    display: flex;
    height: 95%;
    width: 100%;
    flex-direction: row;

    .body-content {
      height: 100%;
      width: 80%;
      border-width: 2px;
      border-color: grey;
      font-size: medium;
      align-items: center;
      padding-top: 5px;

      .grid-container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 30% auto;
        grid-template-rows: auto;
        grid-template-areas:
          "grid-label grid-data"
      }

      .grid-label {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        color: grey;
        justify-content: flex-end;
      }

      .grid-data {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        margin-left: 20px;
      }

      .row {
        display: flex;
        flex-direction: row;
        height: 25%;
        width: 100%;
        color: grey;
        align-items: center;

        .label {
          padding-left: 5px;
          padding-right: 5px;
          width: 30%;
        }

        .data {
          padding-left: 5px;
          padding-right: 5px;
          width: 70%;
          font-size: 15px;
          color: black;
        }
      }
    }
    .button-content {
      display: flex;
      height: 100%;
      width: 20%;
      align-items: flex-end;
      justify-content: center;
    }
  }

  .footer {
    height: 5%;
    width: 100%;
  }

  .empty {
    height: 85%;
    width: 100%;

    .empty-content {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: xx-large;
      color: grey;
    }
  }
}
