<ng-container class="ocactiondetails">
    <div class="cpmheaderrow">
        <app-header-container></app-header-container>
        <oc-search-box class="searchbox" #searchBox [placeHolderText]="'SEARCH_TEXT' | translate"></oc-search-box>
    </div>
    <ng-container>
        <oc-grid #ocgrid ocgridfilter="false" appGridSortCol [initialSortPropertyName]="itemDescriptionPropertyName"
            [orderableValues]="items" (valuesReordered)="orderChanged($event)">
            <ng-container class="ocgridheader">
                <div class="first" data-colwrap="true"></div>
                <div app-col-header-sortable class="col" ocGridColResize data-width="500" data-colwrap="true"
                    [columnPropertyName]="itemDescriptionPropertyName" headerResourceKey="DESCRIPTION_ID">
                </div>
                <div app-col-header-sortable class="col" ocGridColResize data-width="250" data-colwrap="true"
                    [columnPropertyName]="unitDoseQtyOnHandPropertyName" headerResourceKey="UNIT_DOSE_QOH">
                </div>
                <div app-col-header-sortable class="col" ocGridColResize data-width="200" data-colwrap="true"
                    [columnPropertyName]="bulkQtyOnHandPropertyName" headerResourceKey="BULK_QOH">
                </div>
                <div app-col-header-sortable class="last" ocGridColResize data-width="200" data-colwrap="true"
                    [columnPropertyName]="totalQtyOnHandPropertyName" headerResourceKey="TOTAL_QOH">
                </div>
            </ng-container>
            <ng-container class="ocgridbody">
                <div class="row"
                    *ngFor="let itemManagement of items | searchPipe:searchTextFilter:searchFields"
                    (click)="itemSelected(itemManagement.ItemId)">
                    <div class="first" style="align-items: center;"></div>
                    <div class="col width-type" [attr.data-title]="'DESCRIPTION_ID' | translate">
                        <span>{{itemManagement.ItemDescription}}</span>
                        <span>{{itemManagement.ItemId}}</span>
                    </div>
                    <div class="col width-type" [attr.data-title]="'UNIT_DOSE_QOH' | translate"
                        style="text-align: center;">
                        <span>{{itemManagement.UnitDoseQtyOnHand}} {{itemManagement.UnitsOfIssue}}</span>
                        <div [ngPlural]="itemManagement.UnitDoseLocationCount" class="umFont">
                            <ng-template ngPluralCase="=1">{{itemManagement.UnitDoseLocationCount}}
                                {{'BIN_LOCATION' | translate}}
                            </ng-template>
                            <ng-template ngPluralCase="other">{{itemManagement.UnitDoseLocationCount}}
                                {{'BIN_LOCATIONS' | translate}}
                            </ng-template>
                        </div>
                    </div>
                    <div class="col width-type" [attr.data-title]="'BULK_QOH' | translate" style="text-align: center;">
                        <span>{{itemManagement.BulkQtyOnHand}}</span>
                        <span class="umFont">{{itemManagement.UnitsOfIssue}}</span>
                    </div>
                    <div class="last width-type" [attr.data-title]="'TOTAL_QOH' | translate"
                        style="text-align: center;">
                        <span>{{itemManagement.TotalQtyOnHand}}</span>
                        <span class="umFont">{{itemManagement.UnitsOfIssue}}</span>
                    </div>
                </div>
            </ng-container>
        </oc-grid>
    </ng-container>
</ng-container>