:host{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

:host ::ng-deep oc-grid{
  font-size: 22px;
}

:host ::ng-deep oc-search-box{
  width: 358px !important;
  margin-right: 10px;
}