<div class="cpmgridheader">
  <oc-search-box #searchBox [placeHolderText]="'ENTER_TEXT' | translate"></oc-search-box>
</div>
<oc-grid #ocgrid ocgridfilter="false">
  <ng-container class="ocgridheader">
    <div class="first" data-colwrap="true"></div>
    <div class="col width-type" ocGridColResize data-width="160" data-colwrap="true">{{'TYPE' | translate}}</div>
    <div class="col width=id" ocGridColResize data-width="180" data-colwrap="true">{{'ORDER_ID' | translate}}</div>
    <div class="col width-description" ocGridColResize data-width="414" data-colwrap="true">{{'DESCRIPTION' | translate}}</div>
    <div class="col width-destination" ocGridColResize data-width="270" data-colwrap="true">{{'DESTINATION' | translate}}</div>
    <div class="last width-date" ocGridColResize data-width="160" data-colwrap="true">{{'DATE' | translate}}</div>
  </ng-container>
  <ng-container class="ocgridbody">
    <div class="row" *ngFor="let picklist of picklists | searchPipe:searchTextFilter:searchFields" (click)="navigate(picklist.OrderId)">
      <div class="first" style="align-items: center;">
        <div class="firstcolumncolorblock" [style.background-color]="picklist.PriorityColorCode"></div>
      </div>
      <div class="col width-type" [attr.data-title]="'TYPE' | translate">{{picklist.PriorityDescription}}</div>
      <div class="col width-id" [attr.data-title]="'ORDER_ID' | translate">{{picklist.OrderId}}</div>
      <div class="col width-description" [attr.data-title]="'DESCRIPTION' | translate">
        <div *ngIf="picklist.DisplayGenericName">{{picklist.ItemFormattedGenericName}}</div>
        <div *ngIf="picklist.DisplayBrandName">{{picklist.ItemBrandName}}</div>
        <div *ngIf="picklist.DisplayItemCount">
          <span>{{picklist.UnderfilledItemCountDisplay}}</span>
        </div>
        <div *ngIf="picklist.DisplayRouteName">{{picklist.RouteName}}</div>
      </div>
      <div class="col width-destination" [attr.data-title]="'DESTINATION' | translate">
        <div *ngIf="picklist.DisplayPatientCount">
          <div>
            <span>{{picklist.UnderfilledPatientCountDisplay}}</span>
          </div>
        </div>
        <div *ngIf="picklist.DisplayPatientRoomAndArea">
            <span>{{picklist.PatientRoom}}{{'COMMA_SEPARATOR' | translate}}</span>
            <span> {{picklist.AreaDescription}}</span>
        </div>
        <div *ngIf="picklist.DisplayPatientRoom">
          {{picklist.PatientRoom}}
        </div>
        <div *ngIf="picklist.DisplayArea">
          {{picklist.AreaDescription}}
        </div>
        <div *ngIf="picklist.DisplayMultiDestination">
            <span>{{picklist.UnderfilledDestinationCountDisplay}}</span>
        </div>
        <div *ngIf="picklist.DisplayOmniName">
          {{picklist.DestinationOmni}}
        </div>
        <div *ngIf="picklist.DisplayPatientNameSecondLine">
          {{picklist.PatientName}}
        </div>
      </div>
      <div class="last width-date" [attr.data-title]="'DATE' | translate">
        <div>{{picklist.CompletedDate | date: 'shortDate'}}</div>
        <div>{{picklist.CompletedDate | date: 'shortTime'}}</div>
      </div>
    </div>
  </ng-container>
</oc-grid>