<ng-container class="ocactiondetails">
  <div class="cpmheaderrow">
    <oc-singleselect #devicesList [tableData]="deviceList" class="devicesList" componentWidth="250" 
      dropdownRowsVisible="6" searchPlaceholderText="Select device " selectText="Select Device" noItemsText="No Items"
      (selectionChanged)="onOutputDeviceSelectionChanged($event)" [selectedItem]="selectedStatus">
    </oc-singleselect>
    <table class="daterange">
      <tbody>
        <tr>
          <th rowspan="2">
            <oc-daterange #dateRange [(startDate)]="indStartDate" [(endDate)]="indEndDate" iconHeight="50" iconWidth="50"
              (startDateChange)="onStartDateChange($event)" (endDateChange)="onEndDateChange($event)" 
              (selectionDates)="selectionDates" [selectionBounds]="selectionDates">
            </oc-daterange>
          </th>
          <td class="startdate">{{startDateHeader$}} {{ indStartDate | date:'shortDate' }}</td>
        </tr>
        <tr>
          <td class="enddate">{{endDateHeader$}} {{indEndDate | date:'shortDate' }}</td>
        </tr>
      </tbody>
    </table>
    <div class="checkbox-area">
      <oc-checkbox #errorsCheckBox [valueField]="'Errors'" [displayField]="errorsHeader$" [selected]="errorsSelected"
        (selection)="onErrorsSelect($event)">
      </oc-checkbox>
      <oc-checkbox #warningsCheckBox [valueField]="'Warnings'" [displayField]="warningsHeader$"
        [selected]="warningsSelected" (selection)="onWarningsSelect($event)">
      </oc-checkbox>
      <oc-checkbox #informationsCheckBox [valueField]="'Information'" [displayField]="informationHeader$"
        [selected]="informationSelected" (selection)="onInformationsSelect($event)">
      </oc-checkbox>
    </div>
    <oc-search-box class="searchbox" #searchBox [placeHolderText]=" 'XR2_EVENT_SEARCH_DESCRIPTION' | translate "
      (keyup)="enterKeyed($event)"></oc-search-box>
  </div>
  <ng-container>
    <oc-grid #ocgrid ocgridfilter="false" class="table">
      <ng-container class="ocgridheader">
        <div class="first" data-colwrap="true"></div>
        <div app-col-header-sortable class="col" ocGridColResize data-width="880" data-colwrap="true"
          [columnPropertyName]="eventDescriptionPropertyName" headerResourceKey="XR2_EVENTS_LIST_DESCRIPTION"
          [currentSortPropertyName]="currentSortPropertyName" [customColumnSortOrder]="sortOrder"
          (columnSelected)="columnSelected($event)">
        </div>
        <div class="last" app-col-header-sortable ocGridColResize data-width="250" data-colwrap="true"
          [columnPropertyName]="eventDateTimePropertyName" headerResourceKey="XR2_EVENTS_LIST_DATETIME"
          [currentSortPropertyName]="currentSortPropertyName" [customColumnSortOrder]="sortOrder"
          (columnSelected)="columnSelected($event)">
        </div>
      </ng-container>
      <ng-container class="ocgridbody">
        <div class="row"
          *ngFor="let event of ( displayFilteredList$  | async ) | searchPipe:searchTextFilter:searchFields;" 
          (click)="navigatedetailspage(event,$event)"(ocScrollBoxDirective)="navigatedetailspage(event,$event)" [class.active]="event.Active == true">
          <div class="first" style="align-items: center;">
            <oc-svgicon icon="warningModal" *ngIf="event.EventSeverity === 4" theme="dark" height="30" width="30"
              class="warningicon"></oc-svgicon>
            <oc-svgicon icon="critical" *ngIf="event.EventSeverity === 2" theme="dark" height="30" width="30"
              ></oc-svgicon>
            <oc-svgicon icon="information" *ngIf="event.EventSeverity === 3" theme="dark" height="30" width="30"
              ></oc-svgicon>
          </div>
          <div class="col eventdescription" [attr.data-title]="'XR2_EVENTS_LIST_DESCRIPTION' | translate">
            <div>
              {{event.EventDescription}}
            </div>
          </div>
          <div class="last eventdatetime" [attr.data-title]="'XR2_EVENTS_LIST_DATETIME' | translate">
            {{event.EventDateTime | date:'M/d/yyyy h:mm:ss a'}}</div>
        </div>
      </ng-container>
    </oc-grid>
  </ng-container>
  <br>
  <br>
  <div class="emptyborder">
  </div>
  <ng-container>
    <div class="ocactiondetails" id="showData">
      <tr *ngFor="let event of eventDetails">
        <td class="eventdefinition">
          {{event.EventDefinition}}
        </td>
        <td class="eventvalue">
          {{event.EventValue}}
        </td>
      </tr>
    </div>
  </ng-container>
</ng-container>