@import "../../../../../../node_modules/@omnicell/webcorecomponents/lib/styles/variables.scss";
oc-grid{
  height: 60%;
}

.cpmheaderrow{
  margin: 5px 20px 5px 15px;
  display: flex;
}

.ocactiondetails
{
margin-top: 10px;
height: 25%;
overflow: auto;
padding-left:10px;
border-color: $slate-grey;
}
:host{
  height: 100%;
}

:host ::ng-deep oc-grid{
  font-size: 22px;
}

.searchbox{
  width: 300px; 
  align-self: right;
  margin-top:10px;
  font-size: 22px;
  font-family:'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.devicesList
{
padding-right: 40px;
margin-top:10px;
font-size: 22px;
font-family:'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;
font-weight: 400;
}
.badge {
  position: relative;
  bottom: 10px;
  right: -100px;
}

.checkbox-area {
  display: flex;
  flex-direction: row;
  > oc-checkbox {
    padding-top: 10px;
  }
  font-size: 22px;
  font-family:'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  margin-top:-5px;
}

.cpmwarningtext{
  font-size: 14px;
  color: maroon;
}

.downarrow{
  transform: rotate(45deg);
  background-color: pink;
}

.uparrow{
  transform: rotate(0deg);
}

.headertext{
  float: left;
}

.headericon{
  position: relative;
  left: 15px;
  top: 3px;
  float: left;
}

.eventdefinition{
  width: 480px;
  text-align: left;
  border: solid 1px #DDD ;
  font-size: 22px;
  font-family:'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  height: 60px;
  vertical-align: middle;
  padding-left: 10px;
  border-left: none;
}
.eventvalue{
  width: 720px;
  text-align: left;
  border: solid 1px #DDD ;
  font-size: 22px;
  font-family:'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  height: 60px;
  vertical-align: middle;
  padding-left: 10px;
  overflow-wrap: anywhere;
  border-right: none;
}
.daterange
{
  margin-right: auto;
  margin-left:-20px;
  font-size: 18px;
  font-family:'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  text-align: left;
  margin-top: 5px;

}
.startdate
{
padding-left: 10px;
}
.enddate
{
  padding-left: 10px;
}

.warningicon
{
  background-color: yellow;
}

.erroricon
{
  background-color:red;
}

.informationicon
{
  background-color: rgb(0, 174, 255);
}
.emptyborder
{
  border-bottom: 15px solid rgba(153, 153, 153, 0.452);
  margin-top: -40px;
}

.eventdatetime
{
  font-size: 18px;
  font-family:'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.eventdescription
{
  font-size: 18px;
  font-family:'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
}
