:host {
  height: 100%;
  width: 100%;
}

.scroll-container {
  display: flex;
  width: 100%;
  height: 100%;

  .scroll-container-content {
    width: 100%;

    .header {
      display: flex;
      width: 100%;
      height: 15%;

      .header-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: solid;
        border-width: 2px;
        border-color: grey;
        background-color: #97C0E6;

        .table-labels {
          display: flex;
          flex-grow: 1;
          width: 100%;
          font-size: 18px;
          font-family: "Segoe UI","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
          font-weight: 400;
          color: #333;


          .label-title {
            display: flex;
            width: 60%;
            height: 100%;
            align-items: center;
            justify-content: center;
          }

          .data-title {
            display: flex;
            width: 40%;
            height: 100%;
            align-items: center;
            justify-content: center;
          }
        }

        // static for scroll bar below
        .index {
          width: 57px;
          height: 100%;
        }
      }
    }

    .body {
      display: flex;
      width: 100%;
      height: 84%;
      align-items: center;
      overflow-y: scroll;

      .body-content {
        height: 100%;
        width: 100%;

        .row {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 18%;
          font-size: large;

          .label {
            display: flex;
            width: 60%;
            height: 100%;
            align-items: center;
            justify-content: center;
          }

          .data {
            display: flex;
            width: 40%;
            height: 100%;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .footer {
      width: 100%;
      height: 1%;
    }
  }
}
