:host ::ng-deep oc-search-box{
  width: 358px !important;
  margin-right: 10px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-container-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.back-button {
  width: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  margin-right: 36px;
}
