<ng-container>
  <app-xr2-queue-details-header
    [updateDisableSelectAllEvent]="updateDisableSelectAllSubject.asObservable()"
    [updateMultiSelectModeEvent]="updateMultiSelectModeSubject.asObservable()"
    (backEvent)="onBackClick()"
    (releaseAllEvent)="processRelease(selectedItems)"
    (printAllEvent)="processPrint(selectedItems)"
    (rerouteAllEvent)="processReroute(selectedItems)"
    (searchTextFilterEvent)='onSearchTextFilter($event)'>
  </app-xr2-queue-details-header>
  <app-xr2-details-queue
    [picklistQueueItems]="picklistsQueueItems | async"
    [searchTextFilter]="searchTextFilter"
    [updateMultiSelectModeEvent] = "updateMultiSelectModeSubject.asObservable()"
    (failedEvent)="displayXr2QueueError()"
    (selectionChangedEvent)="onGridSelectionChanged($event)"
    (releaseEvent)="processRelease($event)"
    (rerouteEvent)="processReroute($event)"
    (printEvent)="processPrint($event)"
    (itemUpdatedEvent)="onItemUpdate($event)"
    (itemRemovedEvent)="onItemRemoved($event)">
  </app-xr2-details-queue>
</ng-container>
