<ng-container>
  <app-xr2-queue-button-panel class="button-panel"
    [ngClass]="{'multi-select-mode': multiSelectMode}"
    [releaseDisabled]="selectAllActionsDisableMap.get(outputDeviceAction.Release)|| !multiSelectMode"
    [printDisabled]="selectAllActionsDisableMap.get(outputDeviceAction.Print) || !multiSelectMode"
    [rerouteDisabled]="selectAllActionsDisableMap.get(outputDeviceAction.Reroute)|| !multiSelectMode"
    (rerouteEvent)="processReroute(selectedItems)"
    (releaseEvent)="processRelease(selectedItems)"
    (printEvent)="processPrint(selectedItems)">
  </app-xr2-queue-button-panel>
  <app-xr2-queue-details-header
    (backEvent)="onBackClick()"
    (searchTextFilterEvent)='onSearchTextFilter($event)'>
  </app-xr2-queue-details-header>
  <app-xr2-details-queue
    [picklistQueueItems]="picklistsQueueItems | async"
    [searchTextFilter]="searchTextFilter"
    [updateMultiSelectModeEvent] = "updateMultiSelectModeSubject.asObservable()"
    (failedEvent)="displayXr2QueueError()"
    (selectionChangedEvent)="onGridSelectionChanged($event)"
    (releaseEvent)="processRelease($event)"
    (rerouteEvent)="processReroute($event)"
    (printEvent)="processPrint($event)">
  </app-xr2-details-queue>
</ng-container>
