<div class="card">
  <div class="card-content">
    <div class="header">
      <div class="header-content" [ngStyle]="getHeaderStyle()">
        <div class="details">
          <div class="description">
            {{ detailedDrawer.Id }}
          </div>
          <div class="title">
            <div class="title-content">
              {{ detailedDrawer.PriorityDescription }}
            </div>
          </div>
        </div>
        <div class="index">
          <div class="index-content">
            {{ dispenseBox.BoxNumber }} / {{ dispenseBox.BoxCount }}
          </div>
        </div>
      </div>
    </div>
    <div class="view-container">
      <div class="card-details-view">
        <div class="body">
          <div class="body-content">
            <div class="grid-container">
              <div class="status-label">
                <app-traffic-lights color={{detailedDrawer.ColorCode}}></app-traffic-lights>
              </div>
              <div class="status-data" [ngStyle]="{'color': detailedDrawer.ColorCode}">{{ detailedDrawer.ErrorInfo.ErrorDescription }}
              </div>
              <div class="dest-label">{{'DESTINATION' | translate}}:</div>
              <div class="dest-data">
                {{ dispenseBox.PatientName }}
                <br />
                {{ dispenseBox.Area }}
              </div>
              <div class="id-label">{{ 'ID' | translate }}:</div>
              <div class="id-data">{{ dispenseBox.OrderId }}</div>
              <div class="qty-filled-data">{{ 'FILLED' | translate }}:
                {{ dispenseBox.FillQuantity }}</div>
              <div class="qty-req-data">{{ 'REQUESTED' | translate }}: {{ dispenseBox.RequestQuantity }}
              </div>
              <div class="qty-items-data">{{ 'LINEITEMS' | translate }}:
                {{ detailedDrawer.MedsWithCounts.length }}
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="footer-content">
            <div class="action-buttons">
              <oc-button-action [buttonText]="'BACK' | translate" (click)="onBackClick()"></oc-button-action>
              <oc-button-action mode="secondary" [buttonIcon]="'print'" [buttonText]="'PRINT' | translate" (click)="onPrintClick()">
              </oc-button-action>
            </div>
          </div>
        </div>
      </div>
      <div class="box-items-view">
        <div class="box-items-view-content">
          <app-quick-pick-box-items-view [dispenseBox]="dispenseBox"></app-quick-pick-box-items-view>
        </div>
      </div>
    </div>
  </div>
</div>
