:host {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.card {
  width: 99%;
  height: 95%;
  border: solid;
  border-color: grey;
  border-radius: 5px;
  font-family: sans-serif;
  overflow: hidden;

  .card-content {
    height: 100%;
    width: 100%;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 15%;
      width: 100%;
      font-size: x-large;
      color: #333333;
      font-weight: 500;

      .header-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: solid;
        border-color: grey;
        border-width: 2px;

        .details {
          display: flex;
          width: 50%;
          height: 100%;

          .description {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 17%;
          }

          .title {
            display: flex;
            align-items: center;
            height: 100%;
            width: 83%;
            border-left: solid;
            border-width: 2px;
            border-color: grey;

            .title-content {
              padding-left: 20px;
            }
          }
        }

        .index {
          display: flex;
          height: 100%;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .index-content {
            padding-right: 20px;
          }
        }
      }
    }

    .view-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 85%;

      .card-details-view {
        display: flex;
        width: 50%;
        height: 100%;
        flex-direction: column;

        .body {
          display: flex;
          height: 80%;
          width: 100%;
          font-size: large;
          align-items: center;

          .body-content {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;

            .grid-container {
              display: grid;
              height: 100%;
              width: 100%;
              grid-template-columns: 17% 24% 29.5% 29.5%;
              grid-template-areas:
                "status-label status-data status-data status-data"
                "dest-label dest-data dest-data dest-data"
                "id-label id-data id-data id-data"
                "qty-label qty-filled-data qty-req-data qty-items-data"
            }

            .status-label {
              grid-area: status-label;
              display: flex;
              width: 100%;
              height: 100%;
              justify-content: center;
              align-items: center;
              color: grey;
            }

            .dest-label {
              grid-area: dest-label;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              color: grey
            }

            .id-label {
              grid-area: id-label;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              color: grey
            }

            .qty-label {
              grid-area: qty-label;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              color: grey
            }

            .status-data {
              grid-area: status-data;
              display: flex;
              align-items: center;
              padding-left: 20px;
              font-size: 20px;
            }

            .dest-data {
              grid-area: dest-data;
              display: flex;
              align-items: center;
              padding-left: 20px;
              font-size: 20px;
            }

            .id-data {
              grid-area: id-data;
              display: flex;
              align-items: center;
              padding-left: 20px;
              font-size: 20px;
            }

            .qty-data {
              grid-area: qty-data;
              display: flex;
              align-items: center;
              font-size: 20px;
            }

            .qty-filled-data {
              grid-area: qty-filled-data;
              display: flex;
              align-items: center;
              padding-left: 20px;
              font-size: 20px;
            }

            .qty-req-data {
              grid-area: qty-req-data;
              display: flex;
              align-items: center;
              padding-left: 20px;
              font-size: 20px;
            }

            .qty-items-data {
              grid-area: qty-items-data;
              display: flex;
              align-items: center;
              padding-left: 20px;
              font-size: 20px;
            }
          }
        }
        .footer {
          border-top: solid;
          border-color: grey;
          height: 20%;
          width: 100%;

          .footer-content {
            display: flex;
            width: 100%;
            height: 100%;
            background-color: rgb(192, 192, 192);

            .action-buttons {
              display: flex;
              align-items: center;
              margin-left: 10px;
              margin-right: 10px;
              justify-content: space-between;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .box-items-view {
        display: flex;
        height: 100%;
        width: 50%;
        align-items: center;

        .box-items-view-content {
          display: flex;
          width: 100%;
          height: 100%;
          border-left: solid;
          border-color: grey;
          border-width: 2px;
        }
      }
    }
  }
}
