<div class="card">
  <div class="card-content">
    <div class="header">
      <div class="header-content" [ngStyle]="getHeaderStyle()">
        <div class="details">
          <div class="description">
            {{ detailedDrawerData.Id }}
          </div>
          <div class="title">
            <div *ngIf="detailedDrawerData.UnknownContents" class="title-content">
              {{'QUICK_PICK_UNKNOWN_CONTENTS' | translate}}
            </div>
            <div *ngIf="!detailedDrawerData.UnknownContents" class="title-content">
              {{ detailedDrawerData.PriorityDescription }}
            </div>
          </div>
        </div>
        <div class="index">
          <div *ngIf="!detailedDrawerData.UnknownContents"  class="index-content">
            {{ detailedDrawerData.BoxNumber }} / {{ detailedDrawerData.BoxCount }}
          </div>
        </div>
      </div>
    </div>
    <div class="view-container">
      <div class="card-details-view">
        <div class="body">
          <div *ngIf="!detailedDrawerData.UnknownContents" class="body-content">
            <div class="grid-container">
              <div class="status-label">
                <app-traffic-lights
                [lightColor]="getTrafficLightProperties(detailedDrawerData).color"
                [isBlinking] = "getTrafficLightProperties(detailedDrawerData).isBlinking">
              </app-traffic-lights>
              </div>
              <div class="status-data">{{ getTrafficLightProperties(detailedDrawerData).text }}
              </div>
              <div class="dest-label">{{'DESTINATION' | translate}}:</div>
              <div class="dest-data">
                <div>
                  {{ detailedDrawerData.DestinationLine1 }}
                  <br>
                  {{ detailedDrawerData.DestinationLine2 }}
                </div>
              </div>
              <div class="id-label">{{ 'ID' | translate }}:</div>
              <div class="id-data">{{ detailedDrawerData.DestinationId }}</div>
              <div class="qty-filled-data">{{ 'FILLED' | translate }}:
                {{ detailedDrawerData.TotalFillQty }}</div>
              <div class="qty-req-data">{{ 'REQUESTED' | translate }}: {{ detailedDrawerData.TotalRequestQty }}
              </div>
              <div class="qty-items-data">{{ 'LINEITEMS' | translate }}:
                {{ detailedDrawerData.MedsWithCounts.length }}
              </div>
            </div>
          </div>
          <div *ngIf="detailedDrawerData.UnknownContents" class="body-content">
            <div class="grid-container">
              <div class="status-label">
                <app-traffic-lights
                [lightColor]="getTrafficLightProperties(detailedDrawerData).color"
                [isBlinking] = "getTrafficLightProperties(detailedDrawerData).isBlinking">
              </app-traffic-lights>
              </div>
              <div class="status-data">{{ getTrafficLightProperties(detailedDrawerData).text }}
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div  class="footer-content">
            <div class="action-buttons">
              <app-cp-clickable-icon [width]="35" [height]="35" [theme]="'dark'" [icon]="'openv1-left'"
                [label]="'BACK' | translate" (clickEvent)="onBackClick()" [disabled]="detailedDrawerData.Status > controlDataStatus.OrderReady">
              </app-cp-clickable-icon>
              <app-cp-clickable-icon *ngIf="!detailedDrawerData.UnknownContents" [width]="35" [height]="35" [theme]="'dark'" [icon]="'reroute'"
                [label]="'REROUTE' | translate" (clickEvent)="onRerouteClick()">
              </app-cp-clickable-icon>
              <app-cp-clickable-icon *ngIf="!detailedDrawerData.UnknownContents" [width]="35" [height]="35" [theme]="'dark'" [icon]="'print'"
                [label]="'PRINT' | translate" (clickEvent)="onPrintClick()">
              </app-cp-clickable-icon>
              <app-cp-clickable-icon *ngIf="detailedDrawerData.UnknownContents" [width]="35" [height]="35" [theme]="'dark'" [icon]="'unlock'"
                [label]="'QUICK_PICK_UNLOCK' | translate" (clickEvent)="onUnlockUnknownClick()">
              </app-cp-clickable-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="box-items-view">
        <div class="box-items-view-content">
          <app-quick-pick-box-items-view [drawerData]="detailedDrawerData"></app-quick-pick-box-items-view>
        </div>
      </div>
    </div>
  </div>
</div>
