<div class="drawer-container">
  <div *ngIf="detailedDrawer" class="detail-card-view">
    <app-quick-pick-drawer-details-view class="detail-card-container" [detailedDrawer]="detailedDrawer"
      (backClicked)="closeDetailedView()">
    </app-quick-pick-drawer-details-view>
  </div>
  <div *ngIf="!detailedDrawer" class="cards-view">
    <div class="content">
      <div *ngFor="let quickpickDrawer of quickpickDrawers; index as i" class="card-container">
        <app-dashboard-card [drawer]="quickpickDrawers[i]" (printClicked)="openDetailedView($event)">
        </app-dashboard-card>
      </div>
    </div>
  </div>
</div>
