<div class="drawer-container">
  <div *ngIf="detailedDrawer" class="detail-card-view">
    <app-quick-pick-drawer-details-view
    [detailedDrawerData]="detailedDrawer"
    [scanMessage] = "scanMessage"
    (closeQuickPickDetailsCard)="onCloseQuickPickDrawerDetails()"
    (printQuickPickDrawerLabel)="printDrawerLabel()">
    </app-quick-pick-drawer-details-view>
  </div>
  <div *ngIf="!detailedDrawer" class="cards-view">
    <div class="content">
      <div *ngFor="let quickpickDrawer of quickpickDrawers; index as i" class="card-container">
        <app-dashboard-card
        [drawerData]="quickpickDrawers[i]"
        [drawerIndex]="i"
        (printQuickPickDrawer)="onPrintQuickPickDrawer($event)"
        (viewQuickPickDrawer)="onShowQuickPickDrawerDetails($event)"
        (rerouteQuickPickDrawer)="onRerouteQuickPickDrawer($event)"
        (unlockUnknownQuickPickDrawer)="onUnlockUnknownDrawer($event)">
        </app-dashboard-card>
      </div>
    </div>
  </div>
</div>
