<div class="drawer-container">
  <div *ngIf="detailedDrawer" class="detail-card-view">
    <app-dashboard-details-card  [detailedDrawer]="detailedDrawer" (closeQuickPickDetailsCard)="onCloseQuickPickDrawerDetails()" (printQuickPickDrawerLabel)="printDrawerLabel()">
    </app-dashboard-details-card>
  </div>
  <div *ngIf="!detailedDrawer" class="cards-view">
    <div class="content">
      <div *ngFor="let quickpickDrawer of quickpickDrawers; index as i" class="card-container">
        <app-dashboard-card [drawer]="quickpickDrawers[i]" [drawerIndex]="i" (showQuickPickDrawerDetails)="onShowQuickPickDrawerDetails($event)">
        </app-dashboard-card>
      </div>
    </div>
  </div>
</div>
