  <app-xr2-queue-details-header
    [priorityDescriptionHeader]="(device$ | async).Description"
    [pageName] = "'NOT_ASSIGNED'"
    (backEvent)="onBackClick()"
    (searchTextFilterEvent)='onSearchTextFilterEvent($event)'>
  </app-xr2-queue-details-header>

<oc-grid  #ocgrid ocgridfilter="false">
    <ng-container class="ocgridheader">
      <div app-col-header-sortable class="col" ocGridColResize data-width="550" data-colwrap="true"
        [columnPropertyName]="'ItemCode'" headerResourceKey="XR2_ITEM_CODE"
        [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="250" data-colwrap="true"
        [columnPropertyName]="'TotalItemCodeQuantity'" headerResourceKey="TOTAL_QOH"
        [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="175" data-colwrap="true"
        [columnPropertyName]="'PocketTypeDescription'" headerResourceKey="POCKET_TYPE_DESCRIPTION"
        [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="last" ocGridColResize data-width="225" data-colwrap="true"
      [columnPropertyName]="'Inventory'" headerResourceKey="XR2_UTILIZATION_TRAY_TYPE_QOH_HEADER"
      [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
    </div>
    </ng-container>
    <ng-container class="ocgridbody">
      <div class="row"  *ngFor="let row of (gridData$ | async) | searchPipe:searchTextFilter:searchFields">
        <div class="col" [attr.data-title]="'XR2_ITEM_CODE' | translate">
          {{row.ItemCode}}
        </div>
        <div class="col" [attr.data-title]="'XR2_UTILIZATION_TOTAL_XR2_QOH_HEADER' | translate">
          {{row.TotalItemCodeQuantity}}
        </div>
        <div class="col" [attr.data-title]="'POCKET_TYPE_DESCRIPTION' | translate">
          {{row.PocketTypeDescription}}
        </div>
        <div class="last" [attr.data-title]="'XR2_UTILIZATION_TRAY_TYPE_QOH_HEADER' | translate">
          {{row.Inventory}}
        </div>

      </div>
    </ng-container>
  </oc-grid>



