  <app-xr2-queue-details-header
    [priorityDescriptionHeader]="(device$ | async).Description"
    [pageName] = "'NOT_ASSIGNED'"
    (backEvent)="onBackClick()"
    (searchTextFilterEvent)='onSearchTextFilterEvent($event)'>
  </app-xr2-queue-details-header>

<oc-grid  #ocgrid ocgridfilter="false">
    <ng-container class="ocgridheader">
      <div app-col-header-sortable class="col" ocGridColResize data-width="500" data-colwrap="true"
        [columnPropertyName]="'ItemCode'" headerResourceKey="ITEM_ID"
        [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="500" data-colwrap="true"
        [columnPropertyName]="'PocketTypeDescription'" headerResourceKey="POCKET_TYPE_DESCRIPTION"
        [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="last" ocGridColResize data-width="280" data-colwrap="true"
      [columnPropertyName]="'Inventory'" headerResourceKey="COUNT"
      [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
    </div>

    </ng-container>
    <ng-container class="ocgridbody">
      <div class="row"  *ngFor="let row of (gridData$ | async) | searchPipe:searchTextFilter:searchFields">
        <div class="col" [attr.data-title]="'ITEM_ID' | translate">
          {{row.ItemCode}}
        </div>

        <div class="col" [attr.data-title]="'POCKET_TYPE_DESCRIPTION' | translate">
          {{row.PocketTypeDescription}}
        </div>
        <div class="last" [attr.data-title]="'COUNT' | translate">
          {{row.Inventory}}
        </div>

      </div>
    </ng-container>
  </oc-grid>



