<div class="cpmheaderrow">
  <div class="header">
    <app-cp-clickable-icon [width]="35" [height]="35" [theme]="'dark'" [icon]="'back'"
        (clickEvent)="onBackClick()">
    </app-cp-clickable-icon>
    <div class="title">
      {{'PATIENT' | translate}} - {{'DETAILS' | translate}}
    </div>
    <oc-search-box #searchBox id="searchBox" [placeHolderText]="'ENTER_TEXT' | translate"></oc-search-box>
  </div>
  <div class="button-panel-container">
    <app-xr2-queue-button-panel
    [releaseAllDisabled]="releaseAllDisabled"
    [printAllDisabled]="printAllDisabled"
    [rerouteAllDisabled]="rerouteAllDisabled">
  </app-xr2-queue-button-panel>
  </div>
</div>

