<oc-action-layout>
    <ng-container class="ocactionheader">
        <div class="cpmactiontitle">{{ 'CYCLE_COUNT' | translate }}</div>
        <div class="dateTime">
            {{time| date:'M/d/yyyy h:mm a'}}
        </div>
        <div *ngIf="displayCycleCountItem"> 
        <div class="printlable" *ngIf="(HasLabelPrinterConfigured()) && (deviceId)" >
            <oc-svgicon icon="print" theme="white" height="30" width="30" (click)="PrintLabel()"></oc-svgicon>
        </div>
    </div>
    </ng-container>

    <ng-container class="ocactiondetails">
        <div class="displayGuidedCycleCount">
            <div class="searchBar">
                <oc-search-dropdown  #dropdownSearchUser id="requestorSearch"  [placeHolderText]='searchRequestorText'
                    [columnTemplate]='columnTemplate.THREECOLUMN' [loadingText]=''
                    [noResultsFoundText]='noResultsFoundText' [gridHeight]="'400px'" [gridWidth]="'1250px'"
                    [columnsConfig]='columnsConfig' [searchBoxAlign]='searchBoxAlign.LEFT' [clearSearch]="true"
                    (itemSelected)='itemSelected($event)'></oc-search-dropdown>
            </div> 
         <div #contain>
            <div class="BrandName" *ngIf="displayCycleCountItem">
                <diV *ngIf="!ItemDescriptionOverlap">
                <div>{{ displayCycleCountItem.GenericNameFormatted }}</div>
                </diV>
            </div>
            <div class="BrandNameSmall" *ngIf="displayCycleCountItem">
                <diV *ngIf="ItemDescriptionOverlap">
                <div>{{ displayCycleCountItem.GenericNameFormatted }}</div>
            </diV>
            </div>
        </div>
        <div #Generic>
            <div class="GenericName" *ngIf="displayCycleCountItem">
                <div  *ngIf="!ItemBrandNameOverlap">
                <div>{{ displayCycleCountItem.BrandNameFormatted }}</div>
                </div>
            </div>
            <div class="GenericNameSmall" *ngIf="displayCycleCountItem">
                <div  *ngIf="ItemBrandNameOverlap">
                <div>{{ displayCycleCountItem.BrandNameFormatted }}</div>
               </div>
            </div>
        </div>
    </div>
        <div class="panelContainer1">
            <div class="itemIdBox">

                <div class="itemIdHeader">
                    <span>{{'ITEM_ID' | translate}}</span>
                </div>
                <div class="ItemId" *ngIf="displayCycleCountItem">
                    <div *ngIf="itemIdLength &lt; 11 || itemIdLength == 11">
                    <span>{{ displayCycleCountItem.ItemId }}
                    
                    </span>
                   </div>
                </div>
                <div class="ItemIdSmall" *ngIf="displayCycleCountItem">
                    <div *ngIf="itemIdLength>11">
                    <span>{{ displayCycleCountItem.ItemId }}
                    
                    </span>
                   </div>
                </div>
            </div>
            <div class="DeviceLocation">
                <div>
                    <div class="itemIdHeader">
                        <span *ngIf="!isSingleSelectEnable">{{'GUIDED_CYCLE_COUNT_LOCATION' | translate }}</span>
                        <span *ngIf="isSingleSelectEnable">{{'GUIDED_CYCLE_COUNT_LOCATIONS' | translate }}</span>
                        <span *ngIf="isSingleSelectEnable">-{{locationCount}}</span>
                    </div>
                    <div class="location">
                        <div class="locationdescription" *ngIf="displayCycleCountItem">
                            <oc-singleselect #selection3 [tableData]="multiLocations" selectedItem="{}"
                                componentWidth="750" dropdownRowsVisible="6" 
                                (selectionChanged)="onSelectionChanged($event)" searchPlaceholderText="Find item"
                                selectText="Select item" noItemsText="No Items" *ngIf="isSingleSelectEnable">
                            </oc-singleselect>

                            <div *ngIf="!isSingleSelectEnable">
                               <span> {{ displayCycleCountItem.LocationDescription }}  </span>
                            </div>
                        </div>
                    </div>
                </div>
            <div *ngIf="!isMultiLocation">
                <div class="devicelocationaccess" *ngIf=displayCycleCountItem>
                    <app-device-location-access [deviceLocationAccessData]="displayCycleCountItem"
                        [disabled]="carouselFaulted" (isLeaseBusy)="handleLeaseBusyChanged($event)"
                        (isAccessBusy)="deviceLocationAccessBusy = $event"
                        (accessResult)="handleDeviceLocationAccessResult($event)"></app-device-location-access>
                </div>
            </div>
            </div>

        </div>
    </ng-container>

    <ng-container class="ocactiondetails">
        <div class="panelContainer">

            <div class="leftCycleCountPanel">
                <div class="leftPanelRow"> {{"IN_STOCK" | translate}}
                    <div *ngIf="!isMultiLocation">
                        <div class="textContent" *ngIf="displayCycleCountItem">{{displayCycleCountItem.InStockQuantity}}
                        </div>
                    </div>
                </div>

                <div class="whiteline"></div>
                <div class="leftPanelRow"> {{"PAR_LEVEL" | translate}}
                    <div *ngIf="!isMultiLocation">
                        <div class="textContent" *ngIf="displayCycleCountItem">{{displayCycleCountItem.ParLevel}}
                        </div>
                    </div>
                </div>

                <div class="whiteline"></div>
                <div class="leftPanelRow">
                    <div *ngIf="!displayCycleCountItem">
                        {{"REORDER_LEVEL" | translate}}
                    </div>
                    <div *ngIf="displayCycleCountItem">
                        <div *ngIf="!isMultiLocation">
                            {{(displayCycleCountItem.ReorderSource == 'B' ? "RESTOCK_LEVEL" : "REORDER_LEVEL") | translate}}
                            <div class="textContent">
                                {{displayCycleCountItem.ReorderSource == 'B' ? displayCycleCountItem.ReorderLevel:displayCycleCountItem.QuantityMin}}
                            </div>
                        </div>
                        <div *ngIf="isMultiLocation">
                            {{"REORDER_LEVEL" | translate}}
                        </div>

                    </div>
                </div>
                <div class="whiteline"></div>

                <div class="leftPanelRow" *ngIf="!CheckItemExpGranularity()">
                    <div *ngIf="!isMultiLocation">
                        {{"EXPIRATION_DATE" | translate}}
                    </div>
                    <div class="expiration" *ngIf="!isMultiLocation">
                        <div *ngIf="displayCycleCountItem">
                            <oc-datepicker id="datepicker" [format]="displayCycleCountItem.ItemDateFormat"
                                [(ngModel)]="displayCycleCountItem.ExpirationDateFormatted" [isRequired]="daterequired"
                                [autocorrect]="false" [isDisabled]="disablethedate" popupDirection="UP"
                                (ngModelChange)=onDateChange($event) [minDate]="todaydate"
                                [tabIndexes]="datepickerindexes">
                            </oc-datepicker>
                        </div>
                    </div>
                </div>

                <div class="expirationwhiteline" *ngIf="!CheckItemExpGranularity()"></div>
                <div class=expwhiteline *ngIf="CheckItemExpGranularity()"></div>
            </div>
            <div class="rightCycleCountPanel">
                <div class="demo">
                    <div *ngIf="!displayCycleCountItem">
                        <oc-numeric [title]="'ITEM_QUANTITY' | translate">
                        </oc-numeric>
                    </div>
                    <div *ngIf="displayCycleCountItem">
                        <div *ngIf="!isMultiLocation">
                            <oc-numeric [title]="'ITEM_QUANTITY' | translate"
                                [(ngModel)]="displayCycleCountItem.QuantityOnHand" [minValue]="0" [maxValue]="999999"
                                [units]="displayCycleCountItem.Units" [autoCorrect]="true"
                                (valueChange)="onQuantityChange($event)" [tabIndexes]="numericindexes"
                                id="numericElement">
                            </oc-numeric>
                        </div>
                        <div *ngIf="isMultiLocation">
                            <oc-numeric [title]="'ITEM_QUANTITY' | translate">
                            </oc-numeric>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container class="ocactionfooter">
        <oc-footer>
            <div class="ocleftalign">
                <oc-button-action [buttonText]="'CANCEL' | translate" (click)="navigateBack()" tabindex="-1">
                </oc-button-action>
            </div>
            <div class="buttonadjust">
                <div class="ocrightalign">
                    <oc-button-action id="donebutton" [buttonText]="'DONE' | translate" (click)="navigateContinue()"
                        [disabled]="doneButtonDisable"
                        [disabled]="doneButtonDisable || deviceLocationAccessBusy || carouselFaulted" tabindex="5">
                    </oc-button-action>
                </div>
            </div>
        </oc-footer>
    </ng-container>
</oc-action-layout>