:host{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

:host ::ng-deep oc-grid{
  font-size: 22px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  cursor: pointer;
}

.priority-container {
  display: flex;
  flex-direction: row;

  .priority-text {
    display: flex;
    flex-direction: column;
  }

  .priority-icons {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
}

#exceptions-icon {
  padding-right: 10px
}

#output-device-icon {
  padding-left: 10px
}

.order {
  font-size: 14px;
  padding-top: 5px;
}

.width-type {
  width: 550px;
}

.width-device {
  width: 178px;
}

.width-complete {
  width: 160px;
}

.width-required {
  width: 160px;
}

.width-date {
  width: 150px;
}


