<ng-container class="ocactiondetails">
  <oc-grid #ocgrid ocgridfilter="false">
    <ng-container class="ocgridheader">
      <!-- 1280 px total-->
      <!-- 82 px for first -->
      <div app-col-header-sortable class="first" data-colwrap="true"
        [columnPropertyName]="sequenceOrderPropertyName" headerResourceKey=""
        [currentSortPropertyName]="currentSortPropertyName"
        [customColumnSortOrder]="columnSortDirection"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="550" data-colwrap="true"
        [columnPropertyName]="typePropertyName" headerResourceKey="TYPE"
        [currentSortPropertyName]="currentSortPropertyName"
        [customColumnSortOrder]="columnSortDirection"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="178" data-colwrap="true"
        [columnPropertyName]="devicePropertyName" headerResourceKey="DEVICE"
        [currentSortPropertyName]="currentSortPropertyName"
        [customColumnSortOrder]="columnSortDirection"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="160" data-colwrap="true"
        [columnPropertyName]="completePropertyName" headerResourceKey="COMPLETE"
        [currentSortPropertyName]="currentSortPropertyName"
        [customColumnSortOrder]="columnSortDirection"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="160" data-colwrap="true"
      [columnPropertyName]="requiredPropertyName" headerResourceKey="REQUIRED"
      [currentSortPropertyName]="currentSortPropertyName"
      [customColumnSortOrder]="columnSortDirection"
      (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="150" data-colwrap="true"
      [columnPropertyName]="datePropertyName" headerResourceKey="DATE"
      [currentSortPropertyName]="currentSortPropertyName"
      [customColumnSortOrder]="columnSortDirection"
      (columnSelected)="columnSelected($event)">
      </div>
    </ng-container>
    <ng-container class="ocgridbody" *ngIf="this.unfilteredVerificationOrderItems">
      <div class="row"
      (click)="onGridRowClick(verificationOrderItem)"
      *ngFor="let verificationOrderItem of this.filteredVerificationOrderItems
      trackBy: trackByItemId">
        <div class="first" style="align-items: center;">
          <div class="firstcolumncolorblock" [style.background-color]="verificationOrderItem.PriorityCodeColor"></div>
        </div>
        <div class="col width-type" [attr.data-title]="'TYPE' | translate">
          <div class=priority-container>
            <span class="priority-text">
              {{verificationOrderItem.PriorityCodeDescription}}
              <span class="order">{{verificationOrderItem.OrderId}}</span>
            </span>
            <span class=priority-icons>
              <app-cp-clickable-icon *ngIf="verificationOrderItem.HasExceptions" id="exception-icon"
              [icon]="'notification-active'"
              [theme]="'danger'"
              [label]="'EXCEPTION' | translate">
              </app-cp-clickable-icon>
              <app-cp-clickable-icon *ngIf="verificationOrderItem.HasOutputDeviceVerification" id="output-device-icon"
              [icon]="'notification-active'"
              [label]="'OUTPUT_DEVICE' | translate">
              </app-cp-clickable-icon>
            </span>
          </div>
        </div>
        <div class="col width-device" [attr.data-title]="'DEVICE' | translate">
          <span class="centered-content">
            {{verificationOrderItem.DeviceDescription}}
          </span>
        </div>
        <div class="col width-complete" [attr.data-title]="'COMPLETE' | translate">
          <span class="centered-content">
            {{verificationOrderItem.CompleteVerificationPercentage}}%
          </span>
        </div>
        <div class="col width-required" [attr.data-title]="'REQUIRED' | translate">
          <span class="centered-content">
            {{verificationOrderItem.RequiredVerificationPercentage}}%
          </span>
        </div>
        <div class="col width-date" [attr.data-title]="'DATE' | translate">
          <span class="centered-content">
            {{getOrderDate(verificationOrderItem)}}
          </span>
        </div>
      </div>
    </ng-container>
  </oc-grid>
</ng-container>

