<ng-container class="ocactiondetails">
  <oc-grid #ocgrid ocgridfilter="false">
    <ng-container class="ocgridheader">
      <!-- 1280 px total-->
      <!-- 82 px for first -->
      <div app-col-header-sortable class="first" data-colwrap="true"
        [columnPropertyName]="sequenceOrderPropertyName" headerResourceKey=""
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="320" data-colwrap="true"
        [columnPropertyName]="typePropertyName" headerResourceKey="TYPE"
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="228" data-colwrap="true"
        [columnPropertyName]="orderIdPropertyName" headerResourceKey="ORDER_ID"
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="160" data-colwrap="true"
        [columnPropertyName]="completePropertyName" headerResourceKey="COMPLETE"
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="160" data-colwrap="true"
      [columnPropertyName]="requiredPropertyName" headerResourceKey="REQUIRED"
      [currentSortPropertyName]="currentSortPropertyName"
      (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="180" data-colwrap="true"
        [columnPropertyName]="exceptionsPropertyName" headerResourceKey="EXCEPTIONS"
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="150" data-colwrap="true"
      [columnPropertyName]="datePropertyName" headerResourceKey="DATE"
      [currentSortPropertyName]="currentSortPropertyName"
      (columnSelected)="columnSelected($event)">
      </div>
    </ng-container>
    <ng-container class="ocgridbody" *ngIf="this.verificationOrderItems">
      <div class="row"
      (click)="onGridRowClick(verificationOrderItem)"
      *ngFor="let verificationOrderItem of this.filteredVerificationOrderItems | searchPipe:searchTextFilter:searchFields;
      trackBy: trackByItemId">
        <div class="first" style="align-items: center;">
          <div class="firstcolumncolorblock" [style.background-color]="verificationOrderItem.PriorityCodeColor"></div>
        </div>
        <div class="col width-type" [attr.data-title]="'TYPE' | translate">
          <div class=priority-container>
            {{verificationOrderItem.PriorityCodeDescription}}
          </div>
        </div>
        <div class="col width-order-id" [attr.data-title]="'ORDERID' | translate">
          <span class="centered-content">
            {{verificationOrderItem.OrderId}}
          </span>
        </div>
        <div class="col width-complete" [attr.data-title]="'COMPLETE' | translate">
          <span class="centered-content">
            {{verificationOrderItem.CompleteVerificationPercentage}}%
          </span>
        </div>
        <div class="col width-required" [attr.data-title]="'REQUIRED' | translate">
          <span class="centered-content">
            {{verificationOrderItem.RequiredVerificationPercentage}}%
          </span>
        </div>
        <div class="col width-exceptions" [attr.data-title]="'EXCEPTIONS' | translate">
          <span class="centered-content" *ngIf="verificationOrderItem.RequiredExceptions > 0">
            <app-cp-data-label
            [ngStyle]="{'padding-right': '5px'}"
            [dataSize]=20
            [labelSize]=13
            [data]="verificationOrderItem.CompleteExceptions"
            [label]="'COMPLETE' | translate">
            </app-cp-data-label>
            /
            <app-cp-data-label
            [ngStyle]="{'padding-left': '5px'}"
            [dataSize]=20
            [labelSize]=13
            [data]="verificationOrderItem.RequiredExceptions"
            [label]="'REQUIRED' | translate">
            </app-cp-data-label>
          </span>
        </div>
        <div class="col width-date" [attr.data-title]="'DATE' | translate">
          <span class="centered-content">
            {{getOrderDate(verificationOrderItem)}}
          </span>
        </div>
      </div>
    </ng-container>
  </oc-grid>
</ng-container>

