<ng-container>
  <app-cp-general-header
  [title]="this.navigationParameters.PriorityCodeDescription"
  [subtitle]="getHeaderSubtitle()"
  [showSearchBox]="false"
  (backEvent)="onBackEvent()">
  </app-cp-general-header>
  <div class="content">
    <app-verification-dashboard
    [verificationDashboardData]="verificationDashboardData | async"
    ></app-verification-dashboard>
    <app-verification-details-card
      [verificationDestinationDetails]="verificationDestinationDetails | async"
      [rejectReasons]="rejectReasons"
      [deviceDescription]="this.navigationParameters.DeviceDescription"
      [destinationLine1]="this.navigationParameters.DestinationLine1"
      [destinationLine2]="this.navigationParameters.DestinationLine2"
      (saveVerificationEvent)="onSaveVerificationEvent($event)">
    </app-verification-details-card>
  </div>
</ng-container>
