<ng-container>
  <app-cp-general-header
  [title]="headerTitle | async"
  [subtitle]="headerSubTitle | async"
  [showSearchBox]="false"
  (backEvent)="onBackEvent()">
  </app-cp-general-header>
  <div class="content">
    <app-verification-dashboard
    [verificationDashboardData]="verificationDashboardData | async"
    [dashboardUpdate$]="dashboardUpdateSubject.asObservable()"
    ></app-verification-dashboard>
    <app-verification-details-card
    [verificationDestinationDetails]="verificationDestinationDetails | async"
    [completedDestinationDetails]="completedDestinationDetails | async"
    [rejectReasons]="rejectReasons"
    [barcodeScannedEventSubject]="itemBarcodeScannedSubject"
    [approveAllClickSubject]="approveAllClickSubject"
    [approveAllSaving]="approveAllSaving"
      [IsBoxBarcodeVerified]="IsBoxBarcodeVerified"
      (saveVerificationEvent)="onSaveVerificationEvent($event)"
      (displayWarningDialogEvent)="onDisplayWarningDialogEvent($event)"
      (displayYesNoDialogEvent)="onDisplayYesNoDialogEvent($event)">
    </app-verification-details-card>
  </div>
</ng-container>
