<ng-container>
  <app-cp-general-header
  [title]="PriorityDescription | async"
  [subtitle]="headerSubTitle | async"
  [showSearchBox]="false"
  (backEvent)="onBackEvent()">
  </app-cp-general-header>
  <div class="content">
    <app-verification-dashboard
    [verificationDashboardData]="verificationDashboardData | async"
    ></app-verification-dashboard>
    <app-verification-details-card
      [deviceDescription]="this.navigationParameters.DeviceDescription"
      [verificationDestinationDetails]="verificationDestinationDetails | async">
    </app-verification-details-card>
  </div>
</ng-container>
