<ng-container class="ocactiondetails">
  <oc-grid #ocgrid ocgridfilter="false">
    <ng-container class="ocgridheader">
      <!-- 1280 px total-->
      <ng-container class="ocgridheader">
        <div class="width-first">
        </div>
        <div class="col width-invoice" ocGridColResize data-width="259" >{{'INVOICE' | translate}}</div>
        <div app-col-header-sortable class="col"
          ocGridColResize
          headerResourceKey="PONUMBER"
          data-width="259"
          [columnPropertyName]="poNumberPropertyName"
          [currentSortPropertyName]="currentSortPropertyName"
          (columnSelected)="columnSelected($event)">
        </div>
        <div app-col-header-sortable class="col"
          ocGridColResize
          headerResourceKey="SOURCE"
          data-width="250"
          [columnPropertyName]="sourcePropertyName"
          [currentSortPropertyName]="currentSortPropertyName"
          (columnSelected)="columnSelected($event)">
        </div>
        <div class="col width-device" ocGridColResize data-width="180">{{'DEVICE' | translate}}</div>
        <div app-col-header-sortable class="col"
          headerResourceKey="ORDER_DATE"
          data-width="250"
          data-colwrap="true"
          [columnPropertyName]="orderDatePropertyName"
          [currentSortPropertyName]="currentSortPropertyName"
          (columnSelected)="columnSelected($event)">
        </div>
      </ng-container>
    </ng-container>
    <ng-container class="ocgridbody" *ngIf="this.unfilteredInvoiceItems">
      <div class="row"
      *ngFor="let invoiceItem of this.unfilteredInvoiceItems
      trackBy: trackByItemId">
        <div class="first" style="align-items: center;">
          <oc-svgicon icon="pending" theme="dark" height="38" width="38"></oc-svgicon></div>
        <div class="col width-invoice" [attr.data-title]="'INVOICE' | translate">
          {{invoiceItem.InvoiceNumber}}
        </div>
        <div class="col width-po-number" [attr.data-title]="'PONUMBER' | translate">
          {{invoiceItem.PoNumber}}
        </div>
        <div class="col width-source" [attr.data-title]="'SOURCE' | translate">
          {{invoiceItem.SourceId}}
        </div>
        <div class="col width-device" [attr.data-title]="'DEVICE' | translate">
          {{invoiceItem.DeviceId}}
        </div>
        <div class="col width-order-date" [attr.data-title]="'ORDERDATE' | translate">
          <span class="split-column">
            <span class="date-content">
              {{this.convertDate(invoiceItem.OrderDate)}}
            </span>
            <span class="delete-icon">
              <oc-svgicon icon="close" height="36" width="36"></oc-svgicon>
            </span>
          </span>
        </div>
      </div>
    </ng-container>
  </oc-grid>
</ng-container>
