:host{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

:host ::ng-deep oc-grid{
  font-size: 22px;
  user-select: none;
}

:host ::ng-deep oc-search-box{
  width: 358px !important;
  margin-right: 10px;
}

.centered-content {
  display: flex ;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.split-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.date-content {
  display: flex;
  width: 70%;
}

.delete-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}


.destination-details {
  padding-top: 5px;
  display: flex;
}

.width-first {
  width: 82px;
}

.width-invoice {
  width: 259px;
}

.width-po-number {
  width: 259px;
}

.width-source {
  width: 250px;
}

.width-device {
  width: 200px
}

.width-order-date {
  width: 230px
}
