<div class="content" [ngSwitch]="navigationParameters.Route">
  <app-xr2-verification-order-page *ngSwitchCase="xr2VerficationRouting.OrderPage"
    (pageNavigationEvent)="onPageNavigationEvent($event)"
  ></app-xr2-verification-order-page>
  <app-xr2-verification-destination-page *ngSwitchCase="xr2VerficationRouting.DestinationPage"
  [navigationParameters]="navigationParameters"
  (pageNavigationEvent)="onPageNavigationEvent($event)">
  </app-xr2-verification-destination-page>
  <app-xr2-verification-details-page *ngSwitchCase="xr2VerficationRouting.DetailsPage"
  [navigationParameters]="navigationParameters"
  (pageNavigationEvent)="onPageNavigationEvent($event)">
  </app-xr2-verification-details-page>
</div>
