<oc-action-layout *ngIf="displayCycleCountItem">
    <ng-container class="ocactionheader">
        <div class="cpmactiontitle">{{ 'GUIDED_CYCLE_COUNT' | translate }}</div>
        <div class="dateTime">
            {{time| date:'M/d/yyyy h:mm a'}}</div>
        <div class="totalItemCount">
            <span>{{currentItemCount}} / {{itemCount}}</span></div>
    </ng-container>

    <ng-container class="ocactiondetails">
        <div class="displayGuidedCycleCount">
            <div class="BrandName">
                <div>{{ displayCycleCountItem.GenericNameFormatted }}</div>
            </div>
            <div class="GenericName">
                <div>{{ displayCycleCountItem.BrandNameFormatted }}</div>
            </div>
        </div>
        <div class="panelContainer1">
            <div class="itemIdBox">

                <div class="itemIdHeader">
                    <span>{{'ITEM_ID' | translate}}</span>
                </div>
                <div class="ItemId">
                    <span>{{ displayCycleCountItem.ItemId }}

                    </span>
                </div>
            </div>
            <div class="DeviceLocation">
                <div class="itemIdHeader">
                    <span>{{'GUIDED_CYCLE_COUNT_LOCATION' | translate }}</span>
                </div>
                <div class="location">
                    <div class="locationdescription">
                        <div>
                            {{ displayCycleCountItem.LocationDescription }}
                        </div>
                    </div>
                    <div class="devicelocationaccess">
                        <app-device-location-access [deviceLocationAccessData]="displayCycleCountItem" [disabled]="carouselFaulted" (isLeaseBusy)="handleLeaseBusyChanged($event)"
                            (isAccessBusy)="deviceLocationAccessBusy = $event" (accessResult)="handleDeviceLocationAccessResult($event)"></app-device-location-access>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container class="ocactiondetails">
        <div class="panelContainer">

            <div class="leftCycleCountPanel">
                <div class="leftPanelRow"> {{"IN_STOCK" | translate}}
                    <div class="textContent">{{displayCycleCountItem.InStockQuantity}}
                    </div>
                </div>
                <div class="whiteline"></div>
                <div class="leftPanelRow"> {{"PAR_LEVEL" | translate}}
                    <div class="textContent">{{displayCycleCountItem.ParLevel}}
                    </div>
                </div>
                <div class="whiteline"></div>
                <div class="leftPanelRow">
                    {{(displayCycleCountItem.ReorderSource == 'B' ? "RESTOCK_LEVEL" : "REORDER_LEVEL") | translate}}
                    <div class="textContent">
                        {{displayCycleCountItem.ReorderSource == 'B' ? displayCycleCountItem.ReorderLevel:displayCycleCountItem.QuantityMin}}
                    </div>
                </div>
                <div class="whiteline"></div>
                    <div class="leftPanelRow"
                        *ngIf="!CheckItemExpGranularity()">
                        {{"EXPIRATION_DATE" | translate}}
                        <div class="expiration">
                            <oc-datepicker id="datepicker" [format]="displayCycleCountItem.ItemDateFormat" [(ngModel)]="displayCycleCountItem.ExpirationDateFormatted" 
                                [isRequired]="daterequired" [autocorrect]="false"  [isDisabled]="disablethedate" 
                                popupDirection="UP" (ngModelChange)=onDateChange($event) [minDate]="todaydate" > 
                            </oc-datepicker>

                        </div>
                    </div>
                    <div class="whiteline"></div>
             </div>
            <div class="rightCycleCountPanel">
                <div class="demo">
                    <oc-numeric [title]="'ITEM_QUANTITY' | translate" [(ngModel)]="displayCycleCountItem.QuantityOnHand"
                        [minValue]="0" [maxValue]="999999" [units]="displayCycleCountItem.Units" [autoCorrect]="true"
                        (valueChange)="onQuantityChange($event)">
                    </oc-numeric>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container class="ocactionfooter">
        <oc-footer>
            <div class="ocleftalign">
                <oc-button-action [buttonText]="'CANCEL' | translate" (click)="navigateBack()"></oc-button-action>
            </div>
            <div class="buttonadjust">
            <div class="ocrightalign" >
                <oc-button-action [buttonText]="'SKIP' | translate" (click)="navigateSkip()" [disabled]="deviceLocationAccessBusy || carouselFaulted"></oc-button-action>
                <oc-button-action id="nextbutton" [buttonText]="'NEXT' | translate" 
                    (click)="navigateContinue()" *ngIf="!isLastItem" [disabled]="nextButtonDisable || deviceLocationAccessBusy || carouselFaulted"></oc-button-action>
                <oc-button-action id="donebutton" [buttonText]="'DONE' | translate" 
                    (click)="navigateContinue()" *ngIf="isLastItem" [disabled]="doneButtonDisable || deviceLocationAccessBusy || carouselFaulted"></oc-button-action>
            </div>
        </div>
        </oc-footer>
    </ng-container>

</oc-action-layout>
