<oc-action-layout *ngIf="displayCycleCountItem">
    <ng-container class="ocactionheader">
        <div class="cpmactiontitle">{{ 'GUIDED_CYCLE_COUNT' | translate }}</div>
        <div class="dateTime">
            {{time| date:'M/d/yyyy h:mm a'}}</div>
            <div class="totalItemCount">
                <span>{{currentItemCount}} / {{itemCount}}</span></div> 
    </ng-container>

    <ng-container class="ocactiondetails">
        <div class="displayGuidedCycleCount">
            <div class="BrandName">
                <div>{{ displayCycleCountItem.BrandNameFormatted }}</div>
            </div>
            <div class="GenericName" >
                <div>{{ displayCycleCountItem.GenericNameFormatted }}</div>
            </div>
        </div>
        <div class="panelContainer1" >
            <div class="itemIdBox">

                <div class="itemIdHeader">
                    <span>{{'ITEM_ID' | translate}}</span>
                </div>
                <div class="ItemId">
                    <span>{{ displayCycleCountItem.ItemId }}

                    </span>
                </div>
            </div>
            <div class="DeviceLocation">
                <div class="itemIdHeader">
                    <span>{{'GUIDED_CYCLE_COUNT_LOCATION' | translate }}</span>
                </div>
                <div class="ItemId">
                    <span>
                        {{ displayCycleCountItem.LocationDescription }}
                    </span>
                </div>
            </div>
        </div>
        <div>
        </div>
    </ng-container>

    <ng-container class="ocactiondetails">
        <div class="panelContainer">

            <div class="leftCycleCountPanel">
                <div class="leftPanelRow"> {{"IN_STOCK" | translate}}
                    <div class="textContent">{{displayCycleCountItem.InStockQuantity}}
                    </div>
                </div>
                <div class="leftPanelRow"> {{"PAR_LEVEL" | translate}}
                    <div class="textContent">{{displayCycleCountItem.ParLevel}}
                    </div>
                </div>
                <div class="leftPanelRow"> {{"REORDER_LEVEL" | translate}}
                    <div class="textContent">{{displayCycleCountItem.ReorderLevel}}
                    </div>
                </div>
                <div class="leftPanelRow"> {{"EXPIRATION_DATE" | translate}}
                    <oc-datepicker format="mm/dd/yyyy" style="background-color: white; text-align: center;" 
                        [(ngModel)]="displayCycleCountItem.ExpirationDateFormatted">
                    </oc-datepicker>

                </div>
            </div>
            <div class="rightCycleCountPanel" >
                <oc-numeric [title]="'ITEM_QUANTITY' | translate" [(ngModel)]="displayCycleCountItem.QuantityOnHand"
                [minValue]="0" [maxValue]="999999">
                </oc-numeric>
            </div>
        </div>
    </ng-container>

    <ng-container class="ocactionfooter">
        <oc-footer>
            <div class="ocleftalign">
                <oc-button-action [buttonText]="'CANCEL' | translate" (click)="navigateBack()"></oc-button-action>
            </div>
            <div class="buttonadjust">
            <div class="ocrightalign" >
                <oc-button-action [buttonText]="'SKIP' | translate" (click)="navigateSkip()"></oc-button-action>
                <oc-button-action id="nextbutton" [buttonText]="'NEXT' | translate" 
                        (click)="navigateContinue()" *ngIf="!isLastItem" >}</oc-button-action>
                    <oc-button-action id="donebutton" [buttonText]="'DONE' | translate" 
                        (click)="navigateContinue()" *ngIf="isLastItem">}</oc-button-action>
            </div>
        </div>
        </oc-footer>
    </ng-container>

</oc-action-layout>
