@import "../../../../../../node_modules/@omnicell/webcorecomponents/lib/styles/variables.scss";
:host{
    height: 100%;
}
  
  .BrandName{
    font-size: 38px;
    font-weight: bold;
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    color: #333333;
    margin-top: 60px;
    margin-left: 16px;
    
  }

  .GenericName{
    font-size: 38px;
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    position:relative;
    font-weight: normal;
    color: #333333;
    margin-top: 6px;
    margin-bottom: 8px!important;
    margin-left: 16px;
 }

  .ItemId{
    font-size: 38px;
    font-weight: bold;
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333333;
    bottom: 16px;
    left: 16px;
  }

  .DeviceLocation{
    font-size: 22px;
    height: 50px;
    box-sizing: border-box;  
    margin-top: 8px;
    margin-bottom:8px;  
    margin-left: 20px;
  }
  .panelContainer1 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 16px!important;
  }

  .panelContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
  }

  .displayGuidedCycleCount { 
    border-bottom: solid  #c8c8c8 1px;    
    height: 180px;  
    overflow: hidden;  
  }

  .itemIdBox{     
    height: 75px;
    width: 340px;  
    border-left: solid white 24px;
    border-right: solid  #c8c8c8 1px; 
    margin-top: 8px;
    margin-bottom:8px;    
  }

  .locationOfCycleCount {
    height: 50px;
    width: 327px; 
    margin-left: 330px; 
    border-left: solid white 24px;
    border-right: solid  #c8c8c8 1px; 

  }

  .leftCycleCountPanel {   
    flex: 1;
    border-top: solid  #c8c8c8 1px;    
    border-left: solid  #c8c8c8 24px;
    border-right: solid  #c8c8c8 28px;
    height: 100%;
    width: 360px;
    left: 24px;
    box-sizing: border-box;
    background-color: #c8c8c8;
  }

  .leftPanelRow{
    width: 300px;
    height: 100px;
    color: #333333;
    font-size: 18px;
    font-family:  "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    justify-content: center;   
    align-items: center;
    font-weight: bold;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .rightCycleCountPanel {   
    border-top: solid  #c8c8c8  1px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;  
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  }

.itemIdHeader{
  font-size: 14px; 
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  color: #333333;
  left: 16px;
  top: 16px;
  bottom: 10px;
}
  
.dateTime{
  font-size: 14px;
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#ffffff;
  font-weight: normal;;
  position: relative;
  vertical-align: center;
  margin-top: 20px;
  margin-right: 200px;
}


.textContent{    
  font-weight: bold;
  font-size : 38px;
  font-family:"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
  width: 100%;
  color: #333333;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.totalItemCount{
  font-size: 20px;
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #ffffff;
  font-weight: normal;
  vertical-align: Center;
  position: relative;
  margin-top: 16px;
  right: 16px;
}

.whiteline{
  height: 1px;
  background-color: #ffffff;
  vertical-align: center!important;
  glyph-orientation-horizontal: center!important;
}
.demo{
  vertical-align: center!important;
  glyph-orientation-horizontal: center!important;
  margin-bottom: 100px!important;
  ::ng-deep{
    div{
      &:first-child{
        color: #333333;
        font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 20px!important;
        line-height: 16px!important;
        width: 400px;
      }
    }
  }
  ::ng-deep{
    div:nth-child(2){
      height: 100px;
    }
  }
  ::ng-deep{
    input{
      &:first-child{
        margin-top: 16px!important;
        margin-bottom: 4px!important;
        font-size: 32px!important;
        font-weight: bold;
        font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #333333;
      }
    }
  }
  ::ng-deep{
    div{
      &:last-child{
      margin-top: 8px!important;
      font-size: 18px!important;
      font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: normal;
      color: #333333;
      }
    }
  } 
}
.expiration{
  margin-top: 6px!important;
    ::ng-deep{
      div{
        &.first-Child{
          margin-right: 24px!important;
          width: 200px!important;
        }
      }
    }
    ::ng-deep{
      form{
          width: 295px;
          background-color: #ffffff;
        }
      }
    ::ng-deep{
     input{
       font-size: 38px!important;
       font-weight: bold;
       font-family:  "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
       margin-left: 2px!important;
       margin-right: 0px!important;
       padding-right: none!important;
       position: relative;
       flex: 0px!important;
       min-width:45px!important;
       width: 120px!important;
       display: initial!important;
       text-align: left!important;
       flex: 0!important;
       flex-wrap: 0!important;
       flex-shrink: 0!important;
       flex-basis: 0!important;
       flex-flow:0!important;
    }

    }
    ::ng-deep{
      input:nth-child(5){
       font-size: 38px!important;
       font-weight: bold;
       font-family:  "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
       margin-left: 2px!important;
       margin-right: 0px!important;
       padding-right: none!important;
       position: relative;
       flex: 0px!important;
       min-width:120px!important;
       display: initial!important;
       text-align: left!important;
       flex: 0!important;
       flex-wrap: 0!important;
       flex-shrink: 0!important;
       flex-basis: 0!important;
       flex-flow:0!important;
      }
    }

   ::ng-deep{
     span{
       font-weight: bold;
       padding: 0px!important;
       margin: 0px!important;
       font-size: 30px!important;
       flex: none!important;
       display: inline!important;
     }
   }
   
  ::ng-deep{
    svg{
       position: initial!important;
       right: 6px!important;
       left: 8px!important;
    }
  }
}