@import "../../../../../../node_modules/@omnicell/webcorecomponents/lib/styles/variables.scss";
:host{
    height: 100%;
}
  
  .BrandName{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: 15px;
    left: 15px;
  }

  .GenericName{
    font-size: 25px;
    position: relative;
    top: 15px;
    left: 15px;
 }

  .ItemId{
    font-size: 22px;
  }

  .DeviceLocation{
    font-size: 22px;
  }

  .panelContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
  }

  .displayGuidedCycleCount { 
    border-bottom: solid  #c8c8c8 1px;
    height: 100px;
  }

  .leftPanel {
    overflow-y: auto;
    border-top: solid  #c8c8c8 1px;
    border-right: solid  #c8c8c8 6px;
    height: 100%;
    width: 150px;
    box-sizing: border-box;
    background-color: #c8c8c8;
  }

  .rightPanel {
    overflow-y: auto;
    border-top: solid  #c8c8c8  1px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;      
  }

  
