<oc-action-layout>      
    <!--Displays the Guided Cycle Count gray header with white font-->
    <ng-container class="ocactionheader">
        <div class="cpmactiontitle">{{"GUIDED_CYCLE_COUNT" | translate}}</div>
    </ng-container>       

    <ng-container class="ocactiondetails">
        <div class="displayGuidedCycleCount" >
            <div class="BrandName" > 
                <div>{{ displayCycleCountItem.BrandNameFormatted }}</div>
            </div>
            <div class="GenericName" > 
                <div>{{ displayCycleCountItem.GenericNamdFormatted }}</div>                   
            </div>
        </div>
        
        <div class="itemIdBox" >
            <div class="ItemId" >                    
                <span>{{ displayCycleCountItem.ItemId }}   
                        {{ displayCycleCountItem.LocationDescription }}
                </span>
            </div> 
        </div>
    </ng-container> 

    <ng-container class="ocactiondetails">   
       <div class="panelContainer">

            <div class="leftPanel">
                <div class="leftPanelRow"> {{"IN_STOCK" | translate}} 
                    <br> {{displayCycleCountItem.QuantityOnHand}} <br>
                </div>  
                <div class="leftPanelRow"> {{"PAR_LEVEL" | translate}} 
                    <br> {{displayCycleCountItem.ParLevel}} <br>
                </div>  
                <div class="leftPanelRow"> {{"REORDER_LEVEL" | translate}} 
                    <br> {{displayCycleCountItem.ReorderLevel}} <br>
                </div>  
                <!--EXPIRATION DATE GOES HERE-->
                <div class="leftPanelRow"> {{"EXPIRATION_DATE" | translate}} 
                    <oc-datepicker [format]="dateFormat">
                      
                    </oc-datepicker>
                    
                </div>  
            
            </div>


            <div class="rightPanel">                                                     
                <oc-numeric [title]="'ITEM_QUANTITY' | translate"> </oc-numeric> 
            </div> 
        </div>        
   </ng-container>

       
      
    <!--Displays the Cancel and next button in the footer-->
    <ng-container class="ocactionfooter">
        <oc-footer>
            <div class="ocleftalign">
                <oc-button-action [buttonText]="'CANCEL' | translate" (click)="navigateBack()">}</oc-button-action>
            </div>
            <div class="ocrightalign">
                <oc-button-action [buttonText]="'NEXT' | translate" (click)="navigateBack()">}</oc-button-action>
            </div>
        </oc-footer>
    </ng-container>

</oc-action-layout>






 
