  <app-xr2-queue-details-header
    [priorityDescriptionHeader]="(device$ | async).Description"
    [pageName] = "'POCKETS_WITH_ERRORS'"
    (backEvent)="onBackClick()"
    (searchTextFilterEvent)='onSearchTextFilterEvent($event)'>
  </app-xr2-queue-details-header>

<oc-grid  #ocgrid ocgridfilter="false">
    <ng-container class="ocgridheader">
      <div app-col-header-sortable class="col" ocGridColResize data-width="150" data-colwrap="true"
        [columnPropertyName]="'ItemId'" headerResourceKey="ITEM_ID"
        [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="300" data-colwrap="true"
        [columnPropertyName]="'ItemDescription'" headerResourceKey="DESCRIPTION"
        [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="150" data-colwrap="true"
        [columnPropertyName]="'PocketTypeDescription'" headerResourceKey="POCKET_TYPE_DESCRIPTION"
        [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" data-width="300" data-colwrap="true"
      [columnPropertyName]="'ErrorDescription'" headerResourceKey="ErrorDescription"
      [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
    </div>
      <div app-col-header-sortable class="last" ocGridColResize data-width="150" data-colwrap="true"
      [columnPropertyName]="'ErrorsCount'" headerResourceKey="ErrorsCount"
      [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
    </div>

    </ng-container>
    <ng-container class="ocgridbody">
      <div class="row"  *ngFor="let row of (gridData$ | async) | searchPipe:searchTextFilter:searchFields">
        <div class="col" [attr.data-title]="'ITEM_ID' | translate">
          {{row.ItemId}}
        </div>
        <div class="col" [attr.data-title]="'DESCRIPTION' | translate">
          {{row.ItemDescription}}
        </div>
        <div class="col" [attr.data-title]="'POCKET_TYPE_DESCRIPTION' | translate">
          {{row.PocketTypeDescription}}
        </div>
        <div class="col" [attr.data-title]="'ErrorDescription' | translate" >
          {{row.ErrorDescription}}
        </div>
        <div class="last" [attr.data-title]="'ErrorsCount' | translate">
          {{row.ErrorsCount}}
        </div>

      </div>
    </ng-container>
  </oc-grid>



