.headertext {
  user-select: none;
  float: left;
}
.headertextwrapped {
  user-select: none;
  float: left;
  white-space: pre-wrap;
  max-width: 80px;
}
.headericon {
  height: 100%;
  position: relative;
  left: 15px;
  top: 25%;
  float: left;
}
.boldheader {
  font-weight: 600;
}
