:host{
    display: flex;
    flex-direction: column;
    flex: 1;
}
:host ::ng-deep oc-grid{
    font-size: 22px;
}
:host ::ng-deep oc-search-box{
  width: 358px !important;
  margin-right: 10px;
}
div.packSize{
  font-size: 12px;
}
div.packs{
  font-size: 12px;
}

.title-content {
  display: flex;
  flex-direction: row;
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-right: 40px;
  font-size: 30px;
  color: gray;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .details-text {
    width: 120px;
  }
}

.back-button {
  width: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  margin-right: 36px;
  padding-top: 0px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0px;
}