<oc-action-layout>
    <ng-container class="ocactionheader">
        <div class="splitactiontitle">
            <div style="flex: 1">
                {{(currentLine$ | async)?.PriorityDescription}}
            </div>
            <div style="flex: 1; text-align: right;">
                {{picklistLineIndex + 1}} {{'of' | translate}} {{(totalLines$ | async)}}
            </div>
        </div>
    </ng-container>
    <ng-container class="ocactiondetails">
        <app-guided-item-header [itemHeaderInfo]="itemHeaderInfo$ | async"></app-guided-item-header>
        <app-split-fixed>
            <ng-container side="left">
                <div class="leftPanelHeader">
                    <app-horizontal-tabs [tabHeaderResourceKeys]="['IN_STOCK','DETAILS']" [selectedTab]="'IN_STOCK'">
                        <ng-container>
                            <div app-tab-contents [tabKey]="'IN_STOCK'"
                                style="text-align: center; font-size: 40px; font-weight: bold;">
                                <div>{{ (pickLocation$ | async)?.QuantityOnHand }} / {{ (pharmacyQoh$ | async) }}</div>
                                <!-- <button class="ocbtn secondary">{{ 'ADJUST' | translate }}</button> -->
                            </div>
                            <div app-tab-contents [tabKey]="'DETAILS'"
                                style="font-size: 40px; font-weight: bold;">
                                <div style="display: flex; font-size: 20px; padding-top: 20px; font-weight: 600;">
                                    <div style="flex: 2; text-align: left;">
                                        {{ 'QTY_IN_RECV' | translate }}
                                    </div>
                                    <div style="flex: 1; text-align: right;">
                                        {{ (orderItemPendingQtys$ | async)?.PendingPickQty }}
                                    </div>
                                </div>
                                <div style="display: flex; font-size: 20px; padding-top: 20px; font-weight: 600;">
                                    <div style="flex: 2; text-align: left;">
                                        {{ 'QTY_PENDING' | translate }}
                                    </div>
                                    <div style="flex: 1; text-align: right;">
                                        {{ (orderItemPendingQtys$ | async)?.PendingStockQty }}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </app-horizontal-tabs>
                </div>
                <div class="leftPanelRow" app-headered-content-control headerResourceKey="PICK_TOTAL"
                    [headerFontWeight]="600" [headerFontSizePx]="20" contentBackgroundColor="white"
                    [showIcon]="(pickTotal$ | async) > (pickLocation$ | async)?.QuantityOnHand">
                    <ng-container part="content">
                        <div style="padding: 15px;">
                            <div style="text-align: center">
                                {{ pickTotal$ | async }}
                            </div>
                        </div>
                    </ng-container>
                    <ng-container part="icon">
                        <app-validation-icon 
                            iconString="alert"
                            toastTileResourceKey=""
                            toastMsgResourceKey="PICK_ITEM_TOTAL_MSG"
                            toastType="error"></app-validation-icon>
                    </ng-container>
                </div>
                <div *ngIf="(pickLocation$ | async)?.ExpirationDateGranularity != 'None'" class="leftPanelRow"
                    app-headered-content-control headerResourceKey="EARLIEST_EXP_DATE" [headerFontWeight]="600"
                    [headerFontSizePx]="20" [showIcon]="(expDateInPast$ | async)" iconToastTitleResourceKey="TITLE"
                    iconToastMsgResourceKey="MSG">
                    <ng-container part="content">
                        <div style="text-align: center; margin-top: 15px;">
                            <span *ngIf="(pickLocation$ | async)?.ExpirationDateGranularity == 'Day'">
                                {{(pickLocation$ | async)?.ExpirationDate | date:'shortDate':undefined:userLocale}}
                            </span>
                            <span *ngIf="(pickLocation$ | async)?.ExpirationDateGranularity == 'Month'">
                                {{(pickLocation$ | async)?.ExpirationDate | date:'M/yyyy':undefined:userLocale}}
                            </span>
                        </div>
                    </ng-container>
                    <ng-container part="icon">
                        <app-validation-icon 
                            iconString="alert"
                            toastTileResourceKey=""
                            toastMsgResourceKey="PICK_ITEM_EXPIRED_MSG"
                            toastType="warn"></app-validation-icon>
                    </ng-container>
                </div>
                <div class="leftPanelRow lastRow" app-headered-content-control [headerResourceKey]="'TOTAL_REQUESTED'"
                    [headerFontWeight]="600" [headerFontSizePx]="20">
                    <ng-container part="content">
                        <div style="text-align: center; margin-top: 15px;">
                            {{(currentLine$ | async)?.PickQuantity}}
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container side="right">
                <app-internal-transfer-pick-needs-list [itemNeeds]="itemNeedPicks$ | async"
                    (pickTotalChanged)="pickTotalChanged($event)">
                </app-internal-transfer-pick-needs-list>
            </ng-container>
        </app-split-fixed>
    </ng-container>
    <ng-container class="ocactionfooter">
        <oc-footer>
            <div class="ocleftalign">
                <oc-button-action [buttonText]="'PAUSE' | translate" (click)="navigateBack()">}</oc-button-action>
            </div>
            <div class="ocrightalign">
                <oc-button-action *ngIf="!(isLastLine$ | async)" [buttonText]="'HOLD' | translate"
                    (click)="hold(false)">
                </oc-button-action>
                <oc-button-action *ngIf="isLastLine$ | async" [buttonText]="'HOLD' | translate" (click)="hold(true)">
                </oc-button-action>
                <oc-button-action *ngIf="!(isLastLine$ | async)" [buttonText]="'NEXT' | translate"
                    [disabled]="(pickTotal$ | async) > (pickLocation$ | async)?.QuantityOnHand"
                    (click)="completePick()">
                </oc-button-action>
                <oc-button-action *ngIf="isLastLine$ | async" [buttonText]="'DONE' | translate"
                    [disabled]="(pickTotal$ | async) > (pickLocation$ | async)?.QuantityOnHand"
                    (click)="completePick()">
                </oc-button-action>
            </div>
        </oc-footer>
    </ng-container>
</oc-action-layout>