<oc-action-layout>
    <ng-container class="ocactionheader">
        <div class="cpmactiontitle">{{'DEVICE_NEEDS' | translate}}</div>
    </ng-container>
    <ng-container class="ocactiondetails">
        <div class="cpmheaderrow">
            <app-header-container *ngIf="device$ | async as device" [title]="'DEVICE' | translate">{{device.Description}}</app-header-container>
        </div>
        <app-internal-transfer-items-list [itemNeeds]="itemNeeds$ | async"></app-internal-transfer-items-list>
    </ng-container>
    <ng-container class="ocactionfooter">
        <oc-footer>
            <div class="ocleftalign">
                <oc-button-action [buttonText]="'CANCEL' | translate" (click)="goBack()">}</oc-button-action>
            </div>
        </oc-footer>
    </ng-container>
</oc-action-layout>