<oc-action-layout>
  <ng-container class="ocactionheader">
    <div class="cpmactiontitle">{{ 'XR2_EXCEPTIONS_DETAILS_HEADER' | translate }}</div>
 </ng-container>
<ng-container class="ocactiondetails">
  <div class="cpmheaderrow">
    <app-header-container>
    <div class="ocheaderarea">
      <tr>
        <th class="trayidheader">{{trayIDHeader$}}</th>
        <th class="traytypeheader">{{trayTypeHeader$}}</th>
        <th class="devicenameheader">{{deviceNameHeader$}}</th>
        <th class="completeddateheader">{{completedDateHeader$}}</th>
      </tr>
      <tr>
        <td class="trayidtext">{{trayID}}</td>
        <td class="traytypetext">{{trayType}}</td>
        <td class="devicenametext">{{deviceName}}</td>
        <td class="completeddatetext">{{completedDate | date:'M/d/yyyy h:mm:ss a'}}</td>
    </tr>
    </div>
  </app-header-container>
  </div>
  <ng-container>
    <oc-grid #ocgrid ocgridfilter="false">
      <ng-container class="ocgridheader">
        <div class="first" data-colwrap="true"></div>
        <div app-col-header-sortable class="col" ocGridColResize data-width="250" data-colwrap="true"
          [columnPropertyName]="reasonPropertyName" headerResourceKey="XR2_EXCEPTIONS_DETAILS_REASON"
          [currentSortPropertyName]="currentSortPropertyName" 
          (columnSelected)="columnSelected($event)">
        </div>
        <div app-col-header-sortable class="col" ocGridColResize data-width="100" data-colwrap="true"
          [columnPropertyName]="rowProperyName" headerResourceKey="XR2_EXCEPTIONS_DETAILS_ROW"
          [currentSortPropertyName]="currentSortPropertyName" 
          (columnSelected)="columnSelected($event)">
        </div>
        <div app-col-header-sortable class="col" ocGridColResize data-width="140" data-colwrap="true"
          [columnPropertyName]="columnPropertyName" headerResourceKey="XR2_EXCEPTIONS_DETAILS_COLUMN"
          [currentSortPropertyName]="currentSortPropertyName" 
          (columnSelected)="columnSelected($event)">
        </div>
        <div app-col-header-sortable class="col" ocGridColResize data-width="410" data-colwrap="true"
          [columnPropertyName]="itemDescriptionPropertyName" headerResourceKey="XR2_EXCEPTIONS_DETAILS_ITEMDESCRIPTION"
          >
        </div>
        <div app-col-header-sortable class="last" ocGridColResize data-width="220" data-colwrap="true"
          [columnPropertyName]="barcodeNDCPropertyName" headerResourceKey="XR2_EXCEPTIONS_DETAILS_BARCODE_NDC"
          [currentSortPropertyName]="currentSortPropertyName" 
          (columnSelected)="columnSelected($event)">
        </div>
      </ng-container>
      <ng-container class="ocgridbody">
        <div class="row"
          *ngFor="let exceptions of (displayExceptionDetailList$ | async)">
          <div class="first" style="align-items: center;"></div>
          <div class="col col-reson" [attr.data-title]="'XR2_EXCEPTIONS_DETAILS_REASON' | translate">{{exceptions.Reason}}
          </div>
          <div class="col col-row" style="align-items: center;" [attr.data-title]="'XR2_EXCEPTIONS_DETAILS_ROW' | translate">
            {{exceptions.PocketRow}}</div>
          <div class="col col-column" style="align-items: center;" [attr.data-title]="'XR2_EXCEPTIONS_DETAILS_COLUMN' | translate">
            {{exceptions.PocketColumn}}</div>
          <div class="col col-description" [attr.data-title]="'XR2_EXCEPTIONS_DETAILS_ITEMDESCRIPTION' | translate">
            {{exceptions.ItemDescription}} <br>
            {{exceptions.ItemID}}
          </div>
          <div class="last col-width-barcode" [attr.data-title]="'XR2_EXCEPTIONS_DETAILS_BARCODE_NDC' | translate">
            {{exceptions.BarCode }}
          </div>
        </div>
      </ng-container>
    </oc-grid>
  </ng-container>
</ng-container>
<ng-container class="ocactionfooter">
  <oc-footer>
      <div class="ocleftalign">
          <oc-button-action [buttonText]="'BACK' | translate" (click)="navigateBack()" tabindex="-1">
          </oc-button-action>
      </div>
    </oc-footer>
  </ng-container>
</oc-action-layout>