oc-grid{
  height: 90%;
}

:host{
  height: 100%;
}

:host ::ng-deep oc-grid{
  font-size: 22px;
}

.badge {
  position: relative;
  bottom: 10px;
  right: -100px;
}

.cpmwarningtext{
  font-size: 14px;
  color: maroon;
}

.cpmheaderrow
{
  height: 180px;
}
.downarrow{
  transform: rotate(45deg);
  background-color: pink;
}

.uparrow{
  transform: rotate(0deg);
}

.headertext{
  float: left;
}

.headericon{
  position: relative;
  left: 15px;
  top: 3px;
  float: left;
}
.trayid{
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 20px;
  margin-right: 30px;
  text-align: left;
}
.traytype{
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 20px;
  margin-right: 30px;
  text-align: left;
}
.devicename{
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 20px;
  margin-right: 30px;
  text-align: left;
}
.completeddate{
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 20px;
  margin-right: 30px;
  text-align: left;
}