<ng-container class="ocactiondetails">
  <oc-grid #ocgrid ocgridfilter="false">
    <ng-container class="ocgridheader">
      <div class="first" data-colwrap="true"></div>
      <div class="col width-type" ocGridColResize data-width="300" data-colwrap="true">{{'TYPE' | translate}}
      </div>
      <div class="col width-type" data-width="630" data-colwrap="true">{{'DESTINATION' | translate}}</div>
      <div class="col width-type" data-width="340" data-colwrap="true">{{'DATE' | translate}}
      </div>
    </ng-container>
    <ng-container class="ocgridbody">
      <div class="row"
        *ngFor="let quickpickOrderItem of quickpickOrderItems">
        <div class="first" style="align-items: center;">
          <div class="firstcolumncolorblock" [style.background-color]="quickpickOrderItem.PriorityCodeColor"></div>
        </div>
        <div class="col width-type" [attr.data-title]="'TYPE' | translate">{{quickpickOrderItem.DestinationType}}</div>
        <div class="col width-type" [attr.data-title]="'DESTINATION' | translate">{{quickpickOrderItem.Destination}}</div>
        <div class="col width-type" [attr.data-title]="'DATE' | translate">{{quickpickOrderItem.Date}}</div>
      </div>
    </ng-container>
  </oc-grid>
</ng-container>

