@import "../../../../../../node_modules/@omnicell/webcorecomponents/lib/styles/styles";
input[type="radio"].ocRadioButton {
  @extend .oc-visually-hidden;
}
input[type="radio"].ocRadioButton + label {
  margin: 0px;
  font-family:$font-family-sans-serif;
  font-size: $font-size-base;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
input[type="radio"].ocRadioButton:checked + label {
  cursor: default;

}
input[type="radio"].ocRadioButton + label .labeltext {
  flex-shrink:0;
  flex-grow:0;
}
input[type="radio"].ocRadioButton + label .radiomark {
  display: inline-block;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  background: transparent;
  vertical-align: middle;
  border: 2px solid $slate-grey;
  border-radius: 50%;
  padding: 5px;
  margin:0 8px 0 0;
  cursor: pointer;
  transition: all 0.2s ease-out;
  flex-shrink: 0;
  flex-grow: 0;
}
input[type="radio"].ocRadioButton:checked + label .radiomark {
  // width: $font-size-base * 1.333;
  // height: $font-size-base * 1.333;
  background: $brand-primary;
  background-clip: content-box;
  cursor: default;
  transition: all 0.2s ease-out;
}

.radio-container {
  &-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

div.radio-item {
  padding:7px 5px 7px 15px;
}

input[type="radio"].ocRadioButton:disabled + label div {
  opacity: 0.7;
  cursor: default;/*not-allowed;*/
}

input[type="radio"].ocRadioButton:disabled + label {
  opacity: 0.7;
  cursor: default;/*not-allowed;*/
}

