<div class="panel-container">
  <app-cp-clickable-icon class="button"
  [width]="35"
  [height]="35"
  [theme]="'dark'"
  [icon]="'openv1-right'"
  [label]="'RELEASE' | translate"
  [disabled]="releaseAllDisabled">
  </app-cp-clickable-icon>
  <app-cp-clickable-icon class="button"
  [width]="35"
  [height]="35"
  [theme]="'dark'"
  [icon]="'print'"
  [label]="'PRINT' | translate"
  [disabled]="printAllDisabled">
  </app-cp-clickable-icon>
  <app-cp-clickable-icon class="button"
  [width]="35"
  [height]="35"
  [theme]="'dark'"
  [icon]="'reroute'"
  [label]="'REROUTE' | translate"
  [disabled]="rerouteAllDisabled">
  </app-cp-clickable-icon>
</div>
