.card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0 0 6px 2px rgba(0,0,0,.1);
  border: 1px solid gray;
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  border-radius: 5px;
}

.card-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.card-header {
  display: grid;
  width: 100%;
  border-bottom: 1px solid gray;
}
.card-header-text {
  word-wrap: break-word;
  padding-bottom: 2%;
  padding-top: 1%;
  padding-left: 5%;
  text-align: left;
  font-weight: bold;
}
.card-header-icon {
  justify-items: end;
  align-items: center;
  padding-bottom: 2%;
  padding-top: 2%;
}

.card-body {
  display: flex;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: space-around
}

.loading {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

oc-svgicon:hover {
  cursor: hand;
  cursor: pointer;
  opacity: .9;
}
