<ng-container>
  <app-cp-general-header
  [title]="PriorityDescription | async"
  [subtitle]="headerSubTitle | async"
  [showSearchBox]="true"
  [searchFilterText]="this.savedPageConfiguration.searchTextFilterDestination"
  (searchTextFilterEvent)="onSearchTextFilterEvent($event)"
  (backEvent)="onBackEvent()"
  ></app-cp-general-header>
  <app-verification-dashboard
  [verificationDashboardData]="verificationDashboardData | async"
  ></app-verification-dashboard>
  <app-verification-destination-queue
  [unfilteredVerificationDestinationItems]="verificationDestinationItems | async"
  [searchTextFilter]="searchTextFilter"
  [savedPageConfiguration]="savedPageConfiguration"
  (gridRowClickEvent)="onGridRowClickEvent($event)"
  (sortEvent)="onSortEvent($event)"
  ></app-verification-destination-queue>
</ng-container>
