.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .button-label {
    font-size: 14px;
    text-align: center;
  }
}

.button-div:hover {
  cursor: hand;
  cursor: pointer;
  opacity: .9;
}

.button-div-disabled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: .7;

  .button-label {
    font-size: 14px;
    text-align: center;
  }
}

