<ng-container>
  <app-xr2-queue-grouping-header
    (searchTextFilterEvent)='onSearchTextFilter($event)'
    (selectionChangedEvent)="onDeviceSelectionChanged($event)">
  </app-xr2-queue-grouping-header>
  <app-xr2-grouping-queue
      [selectedDeviceInformation]="selectedDeviceInformation"
      [loadedPicklistQueueGrouped]="picklistsQueueGrouped | async"
      [searchTextFilter]="searchTextFilter"
      (releaseClickEvent)="processRelease($event)"
      (detailsClickEvent)="processDetailsNavigate($event)">
  </app-xr2-grouping-queue>
</ng-container>
