<oc-action-layout>
  <ng-container class="ocactiondetails">
    <app-internal-transfer-device-ondemand-items-list
      [assignedItems]="assignedItems$ | async"
      [device]="device$ | async"
      (selectedItem)="onSelect($event)">
    </app-internal-transfer-device-ondemand-items-list>
  </ng-container>
  <ng-container class="ocactionfooter">
      <oc-footer>
          <div class="ocleftalign">
              <oc-button-action [disabled]="false" [buttonText]="'BACK' | translate" (click)="goBack()"></oc-button-action>
          </div>
      </oc-footer>
  </ng-container>
</oc-action-layout>
