<ng-container>
  <ng-container class="ocactiondetails">
    <app-internal-transfer-device-ondemand-items-list
      [assignedItems]="assignedItems$ | async"
      [deviceDescription]="deviceDescription$ | async"
      (selectedItem)="onSelect($event)"
      (goBack)="goBack()">
    </app-internal-transfer-device-ondemand-items-list>
  </ng-container>
  <ng-container class="ocactionfooter">
      <oc-footer>
          <div class="ocleftalign">
              <oc-button-action [disabled]="false" [buttonText]="'CANCEL' | translate" (click)="goBack()"></oc-button-action>
          </div>
      </oc-footer>
  </ng-container>
</ng-container>
