.leftPanel {
  //   overflow-y: auto;
  border-top: solid slategrey 2px;
  border-right: none;
  height: 100%;
  width: 60%;
  box-sizing: border-box;
  float:left;
  background-color: lightgray;
  display: flex;
}
.rightPanel {
  border-top:solid slategrey 2px;
  height: 100%;
  width: 40%;
  box-sizing: border-box;
  background-color: white;
  float:left;
  display: flex;
}

.cpmactiontitle{
    line-height: 60px;
    vertical-align: middle;
    font-size: 28px;
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    flex: 1px;
    padding-left: 20px;
}
.ocactionheader{
  background-color: #5e6a71;
  width: 100%;
}

.table-medication{
    width: 100%;

}

.thead-blue{
    width: 100%;
    background-color: rgb(151, 192, 230);
    color: rgb(49, 49, 49);
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
}

.th{
    padding-left: 5px;
    padding-right: 5px;
    text-align:left;
}

.cbody{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: blue;
}
