<ng-container class="ocactiondetails">
    <div class="card">
        <div class="card-header ocactionheader">
            <div class="cpmactiontitle">
            {{this.verificationDestinationDetails[0].DestinationStringValue}}
        </div>
        </div>
        <div class="card-body cbody">
            <div class="leftPanel">
                <div class="scroll-container">
                    <div class="scroll-container-content">
                      <div class="header">
                        <div class="header-content">
                          <div class="table-labels">
                            <div class="label-title">{{ "MEDICATION" | translate }}</div>
                            <div class="data-title">
                              {{ "Verified" | translate }} 
                            </div>
                            <div class="data-title">
                              {{ "Required" | translate }}
                            </div>
                            <div class="data-spacer"></div>
                          </div>
                        </div>
                      </div>
                      <div class="body">
                        <div class="body-content">
                          <div 
                            class="row"
                            *ngFor="let row of this.verificationDestinationDetails; let i = index" (click)='MedicationClicked(row, i)' [class.active]="i == HighlightRow">
                            <div class="label">
                              <div class=text-label>
                                {{ row.ItemFormattedGenericName }}
                              </div>
                            </div>
                            <div class="data">
                              <app-cp-clickable-icon *ngIf="row.VerifiedStatus == 'U'"
                              [width]="30"
                              [height]="30"
                              [theme]="'primary'"
                              [label]="'Verified' | translate"
                              [icon]="'checkmark'"
                              (clickEvent)="''">
                              </app-cp-clickable-icon>
                            </div>
                            <div class="data">
                                <app-cp-clickable-icon *ngIf="row.VerifiedStatus == 'U'"
                                [width]="30"
                                [height]="30"
                                [label]="'Exception' | translate"
                                [icon]="'alert-no-tail'"
                                (clickEvent)="''">
                                </app-cp-clickable-icon>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="footer"></div>
                    </div>
                  </div>
            </div>
            <div class="rightPanel">
                <div class="detailContainer">
                    <div  *ngIf="this.selectedVerificationDestinationDetail">
                        <div class="detailHeader">
                               Item ID
                        </div>
                        <div class="detailBody">
                                {{this.selectedVerificationDestinationDetail.ItemId}}
                        </div>
                        <hr class="Solid">
                        <div class="detailHeader">
                                Pick Location
                        </div>
                        <div class="detailBody">
                               XR21 - Auto Packager
                        </div>
                        <hr class="Solid">
                        <div class="detailHeader">
                                Requested Qty - Picked Qty
                        </div>
                        <div class="detailBodyLarge">
                                {{this.selectedVerificationDestinationDetail.RequestedQuantity}} - {{this.selectedVerificationDestinationDetail.FillQuantity}}
                        </div>
                        <hr class="Solid">
                        <div class="detailHeader">
                              Picked By
                        </div>
                        <div class="detailBodySmall">
                            {{this.selectedVerificationDestinationDetail.FillUserName}}
                        </div>
                        <hr class="Solid">
                         <div class="detailHeader">
                                Filled Time
                        </div>
                        <div class="detailBodySmall">
                                {{this.selectedVerificationDestinationDetail.FillDate}}
                        </div>
                        <hr class="Solid">
                    </div>
               </div>
            </div>
        </div>
    </div>
</ng-container>