<ng-container class="ocactiondetails">
    <div class="card">
        <div class="card-header ocactionheader">
            <div class="cpmactiontitle">
            {{this.verificationDestinationDetails[0].DestinationStringValue}}
        </div>
        </div>
        <div class="card-body cbody">
            <div class="leftPanel">
                
                <table class="table table-medication" >
                    <thead class="thead-blue">
                        <th>Medication</th>
                        <th>Verified</th>
                        <th>Required</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of this.verificationDestinationDetails; let i = index" (click)='MedicationClicked(row, i)' [class.active]="i == HighlightRow">
                            <td><div class="itemMed" >{{row.ItemFormattedGenericName}}</div>
                                <div class="itemMed" >{{row.ItemTradeName}}</div></td>
                            <td><div class="itemVerified" >{{row.VerifiedStatus}}</div></td>
                            <td><div class="item" ></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="rightPanel">
               
            </div>
        </div>
    </div>
</ng-container>