<oc-action-layout>
<ng-container class="ocactiondetails">
  <oc-grid #ocgrid ocgridfilter="false" ocgridheadersearch="false" (onColWidthsChange)="onWidthsChange($event)">
    <ng-container class="ocgridheader">
      <div class="first" data-colwrap="true"></div>
      <div class="col width-type" ocGridColResize data-width="300" data-colwrap="true">{{'TYPE' | translate}}
      </div>
      <div class="col width-type" ocGridColResize data-width="630" data-colwrap="true">{{'DESTINATION' | translate}}
      </div>
      <div class="col width-type" ocGridColResize data-width="340" data-colwrap="true">{{'DESCRIPTION' | translate}}
      </div>
    </ng-container>
    <ng-container class="ocgridbody">
      <div class="row"
        *ngFor="let quickPickQueueItem of quickPickQueueItems | searchPipe:searchTextFilter:searchFields">
        <div class="first">
          <div class="firstcolumncolorblock" [style.background-color]="quickPickQueueItem.PriorityColor"></div>
        </div>
        <div class="col width-type" [attr.data-title]="'TYPE' | translate">
          {{quickPickQueueItem.PriorityDescription}}</div>
        <div class="col width-destination" [attr.data-title]="'DESTINATION' | translate">
          <div>{{quickPickQueueItem.DestinationLine1}}</div>
          <div>{{quickPickQueueItem.DestinationLine2}}</div>
        </div>
        <div class="col width-type" [attr.data-title]="'DESCRIPTION' | translate">
          <div class="col-content-container">
              {{quickPickQueueItem.BoxNumber}} / {{quickPickQueueItem.BoxCount}} {{'BINS' | translate}}
             <app-cp-icon-button
             [width] = "30"
             [height] = "30"
             [icon] = "'openv1-right'"
             (clickEvent) = "onRerouteClick()">
              </app-cp-icon-button>
          </div>
        </div>
      </div>
    </ng-container>
  </oc-grid>
</ng-container>
</oc-action-layout>
