<oc-action-layout>
<ng-container class="ocactiondetails">
  <oc-grid #ocgrid ocgridfilter="false" ocgridheadersearch="true" (onColWidthsChange)="onWidthsChange($event)"
    (onColSearchChange)="onColSearchChange($event)">
    <ng-container class="ocgridheader">
      <div class="first" data-colwrap="true"></div>
      <div class="col width-type" ocGridColResize data-width="300" data-colwrap="true">{{'TYPE' | translate}}
      </div>
      <div class="col width-type" ocGridColResize data-width="630" data-colwrap="true">{{'DESTINATION' | translate}}
      </div>
      <div class="col width-type" ocGridColResize data-width="340" data-colwrap="true">{{'DETAIL' | translate}}
      </div>
    </ng-container>
    <ng-container class="ocgridheadersearch">
      <div ocGridSearchCol></div>
      <div ocGridSearchCol="PriorityDescription"><input ocTextbox></div>
      <div ocGridSearchCol="Destination"><input ocTextbox></div>
    </ng-container>
    <ng-container class="ocgridbody">
      <div class="row"
        *ngFor="let quickPickQueueItem of quickPickQueueItems | gridDatasearch: searchMap; trackBy: trackByFunction">
        <div class="first">
          <div class="firstcolumncolorblock" [style.background-color]="quickPickQueueItem.PriorityColor"></div>
        </div>
        <div class="col width-type" [attr.data-title]="'TYPE' | translate">
          {{quickPickQueueItem.PriorityDescription}}</div>
        <div class="col width-destination" [attr.data-title]="'DESTINATION' | translate">
          <div>{{quickPickQueueItem.DestinationLine1}}</div>
          <div>{{quickPickQueueItem.DestinationLine2}}</div>
        </div>
        <div class="col width-type" [attr.data-title]="'DETAIL' | translate">
          <div class="col-content-container">
              {{quickPickQueueItem.BoxNumber}} / {{quickPickQueueItem.BoxCount}}
            <div (click)="onSkipClick()" class="button-div">
              <oc-svgicon icon="openv1-right" theme="dark" height="30" width="30"></oc-svgicon>
              <div class="button-label">Reroute</div></div>
          </div>
        </div>
      </div>
    </ng-container>
  </oc-grid>
</ng-container>
</oc-action-layout>
