<oc-action-layout>
  <ng-container class="ocactiondetails">
    <oc-grid #ocgrid ocgridfilter="false" ocgridheadersearch="false" ocgridallowhover="false" (onColWidthsChange)="onWidthsChange($event)">
      <ng-container class="ocgridheader">
        <div class="first" data-colwrap="true"></div>
        <div class="col width-type" ocGridColResize data-width="300" data-colwrap="true">{{'TYPE' | translate}}
        </div>
        <div class="col width-type" ocGridColResize data-width="630" data-colwrap="true">{{'DESTINATION' | translate}}
        </div>
        <div class="col width-type" ocGridColResize data-width="340" data-colwrap="true">{{'QUICK_PICK_QUEUE_BINS_HEADER' | translate}}
        </div>
      </ng-container>
      <ng-container class="ocgridbody">
        <div class="row"
          *ngFor="let quickPickQueueItem of quickPickQueueItems | searchPipe:searchTextFilter:searchFields">
          <div class="first">
            <div class="firstcolumncolorblock" [style.background-color]="quickPickQueueItem.PriorityColor"></div>
          </div>
          <div class="col width-type" [attr.data-title]="'TYPE' | translate">
            {{quickPickQueueItem.PriorityDescription}}</div>
          <div class="col width-destination" [attr.data-title]="'DESTINATION' | translate">
            <div>{{quickPickQueueItem.DestinationLine1}}</div>
            <div>{{quickPickQueueItem.DestinationLine2}}</div>
          </div>
          <div class="col width-type" [attr.data-title]="'QUICK_PICK_QUEUE_BINS_HEADER' | translate">
            <div class="col-content-container">
              <div [ngSwitch]="quickPickQueueItem.IncompleteBoxCount">
                <ng-template ngSwitchCase=0>0 / 0</ng-template>
                <ng-template ngSwitchDefault>{{quickPickQueueItem.IncompleteBoxCount}} / {{quickPickQueueItem.TotalBoxCount}}</ng-template>
              </div>              
              <app-cp-clickable-icon [width]="30" [height]="30" [theme]="'dark'" [icon]="'reroute'"
                [label]="'Reroute'" (clickEvent)="onRerouteClick(quickPickQueueItem)">
              </app-cp-clickable-icon>
            </div>
          </div>
        </div>
      </ng-container>
    </oc-grid>
  </ng-container>
</oc-action-layout>
