<div class="content" [ngSwitch]="navigationParameters.Route">
  <app-verification-order-page *ngSwitchCase="verificationRouting.OrderPage"
    [savedPageConfiguration]="savedPageConfiguration"
    (pageNavigationEvent)="onPageNavigationEvent($event)"
    (pageConfigurationUpdateEvent)="onPageConfigurationUpdateEvent($event)"
  ></app-verification-order-page>
  <app-verification-destination-page *ngSwitchCase="verificationRouting.DestinationPage"
  [savedPageConfiguration]="savedPageConfiguration"
  [navigationParameters]="navigationParameters"
  (pageNavigationEvent)="onPageNavigationEvent($event)"
  (pageConfigurationUpdateEvent)="onPageConfigurationUpdateEvent($event)">
  </app-verification-destination-page>
  <app-verification-details-page *ngSwitchCase="verificationRouting.DetailsPage"
  [navigationParameters]="navigationParameters"
  [xr2PickingBarcodeScanned]="xr2PickingBarcodeScanned"
  (pageNavigationEvent)="onPageNavigationEvent($event)">
  </app-verification-details-page>
</div>
