<div class="content" [ngSwitch]="navigationParameters.Route">
  <app-verification-order-page *ngSwitchCase="verificationRouting.OrderPage"
    [savedPageConfiguration]="savedPageConfiguration"
    (pageNavigationEvent)="onPageNavigationEvent($event)"
    (pageConfigurationUpdateEvent)="onPageConfigurationUpdateEvent($event)"
    [barcodeScannedEventSubject]="barcodeScannedSubject"
    (nonXr2PickingBarcodeScanUnexpected)="onNonXr2PickingBarcodeScanUnexpected()">
  </app-verification-order-page>
  <app-verification-destination-page *ngSwitchCase="verificationRouting.DestinationPage"
    [savedPageConfiguration]="savedPageConfiguration"
    [navigationParameters]="navigationParameters"
    [barcodeScannedEventSubject]="barcodeScannedSubject"
    (pageNavigationEvent)="onPageNavigationEvent($event)"
    (pageConfigurationUpdateEvent)="onPageConfigurationUpdateEvent($event)"
    (nonXr2PickingBarcodeScanUnexpected)="onNonXr2PickingBarcodeScanUnexpected()">
  </app-verification-destination-page>
  <app-verification-details-page *ngSwitchCase="verificationRouting.DetailsPage"
    [navigationParameters]="navigationParameters"
    [barcodeScannedEventSubject]="barcodeScannedSubject"
    (pageNavigationEvent)="onPageNavigationEvent($event)"
    [rejectReasons] = "rejectReasons | async"
    (verificationDetailBarcodeScanUnexpected)="onVerificationDetailBarcodeScanUnexpected($event)">
  </app-verification-details-page>
</div>
