<div class="scroll-container">
  <div class="scroll-container-content">
    <div class="header">
      <div class="header-content">
        <div class="table-labels">
          <div class="label-title">
            Medication
          </div>
          <div class="data-title">
            Req Qty / Filled Qty
          </div>
        </div>
        <div class="index">
        </div>
      </div>
    </div>
    <div class="body">
      <div class="body-content">
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
        <div class="row">
          <div class="label">
            Docusate Sodium 100 MG Tablet
          </div>
          <div class="data">
            3 / 10
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
    </div>
  </div>
</div>
