<div class="quick-pick-page">
  <div class="cpmheaderrow">
    <oc-singleselect
      [tableData] = "outputDeviceDisplayList"
      [selectedItem] = "defaultDeviceDisplyItem"
      componentWidth="300"
      dropdownRowsVisible="6"
      popupDirection="AUTO"
      [searchPlaceholderText]="'DEVICE_SELECTION_SEARCH_DEVICES' | translate"
      [selectText]="'DEVICE_SELECTION_TEXT' | translate"
      [noItemsText]="'DEVICE_SELECTION_NO_DEVICES_TEXT' | translate"
      [disabled]="robotSelectionDisabled"
      (selectionChanged)="onDeviceSelectionChanged($event)"></oc-singleselect>
    <app-header-container></app-header-container>
    <oc-search-box #searchBox [placeHolderText]="'SEARCH_QUEUE' | translate"></oc-search-box>
  </div>
  <div class="quick-pick-content">
    <ng-container class="ocactiondetails">
      <app-quick-pick-drawer-view [quickpickDrawers]="quickpickDrawers" (quickPickActive)='onQuickPickActive($event)'></app-quick-pick-drawer-view>
      <app-quick-pick-queue-view [quickPickQueueItems]="quickPickQueueItems | async" [searchTextFilter]="searchTextFilter | async"></app-quick-pick-queue-view>
    </ng-container>
  </div>
</div>
