$colorRed: #ff0000; //red
$colorYellow: #ffff00; //yellow
$colorGreen: #00ff00; //green
$colorGray: #808080; // gray

#box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #333;
  border-radius: 8px;

  .stoplight {
    display: flex;
    width: 65%;
    height: 65%;
    border-radius: 50%;
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

.gray {
  background-color: $colorGray;
  &.blink {
    animation: blinkGray 1.1s step-end infinite;
  }
}

.red {
  background-color: darken($colorRed, 15%);
  &.blink {
    animation: blinkRed 1.1s step-end infinite;
  }
}

.yellow {
  background-color: darken($colorYellow, 15%);
  &.blink {
    animation: blinkYellow 1.1s step-end infinite;
  }
}

.green {
  background-color: darken($colorGreen, 15%);
  &.blink {
    animation: blinkGreen 1.1s step-end infinite;
  }
}

@keyframes blinkGray {
  0% {
    background-color: $colorRed;
    box-shadow: 0 0 6em lighten($colorRed, 10%);
  }

  50% {
    background-color: darken($colorRed, 15%);
    box-shadow: 0 0 0em transparent;
  }
}

@keyframes blinkRed {
  0% {
    background-color: $colorRed;
    box-shadow: 0 0 6em lighten($colorRed, 10%);
  }

  50% {
    background-color: darken($colorRed, 15%);
    box-shadow: 0 0 0em transparent;
  }
}

@keyframes blinkYellow {
  0% {
    background-color: $colorYellow;
    box-shadow: 0 0 6em lighten($colorYellow, 10%);
  }

  50% {
    background-color: darken($colorYellow, 15%);
    box-shadow: 0 0 0em transparent;
  }
}

@keyframes blinkGreen {
  0% {
    background-color: $colorGreen;
    box-shadow: 0 0 6em lighten($colorGreen, 10%);
  }

  50% {
    background-color: darken($colorGreen, 15%);
    box-shadow: 0 0 0em transparent;
  }
}

