:host ::ng-deep oc-search-box{
  width: 358px !important;
  margin-right: 10px;
}
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: auto;
  padding-right: 20px;
}
