<div class="cpmheaderrow">
  <div class="filter-container">
    <oc-singleselect
      [tableData] = ""
      [selectedItem] = ""
      componentWidth="300"
      dropdownRowsVisible="6"
      popupDirection="AUTO"
      [searchPlaceholderText]="'DEVICE_SELECTION_SEARCH_DEVICES' | translate"
      [selectText]="'DEVICE_SELECTION_TEXT' | translate"
      [noItemsText]="'DEVICE_SELECTION_NO_DEVICES_TEXT' | translate"
      [disabled]="">
    </oc-singleselect>
    <oc-singleselect
      [tableData] = ""
      [selectedItem] = ""
      componentWidth="300"
      dropdownRowsVisible="6"
      popupDirection="AUTO"
      [searchPlaceholderText]="'FILTER_SELECTION_SEARCH_FILTERS' | translate"
      [selectText]="'FILTER_SELECTION_TEXT' | translate"
      [noItemsText]="'FILTER_SELECTION_NO_FILTERS_TEXT' | translate"
      [disabled]="">
    </oc-singleselect>
  </div>
  <oc-search-box #searchBox [placeHolderText]="'ENTER_TEXT' | translate"></oc-search-box>
</div>
