<div class="cpmheaderrow">
    <app-header-container></app-header-container>    
    <oc-search-box #searchBox [placeHolderText]="'SEARCH_CYCLECOUNT' | translate"></oc-search-box>
  </div>
  <oc-grid #ocgrid ocgridfilter="false">
    <ng-container class="ocgridheader">
        <!--<div app-col-header-sortable class="first" data-colwrap="true"
                                 [columnPropertyName]='sequencePropertyName'
                                 headerResourceKey=''                                 
                                 (columnSelected)="columnSelected($event)">
        </div>-->
        <div app-col-header-sortable class="col" ocGridColResize data-width="500" data-colwrap="true"
                                 [columnPropertyName]='descriptionPropertyName'
                                 headerResourceKey='DESCRIPTION_ID' 
                                 [currentSortPropertyName]="currentSortPropertyName"  
                                 [customColumnSortOrder]="columnSortDirection"                              
                                 (columnSelected)="columnSelected($event)">
        </div>
        <div app-col-header-sortable class="col" ocGridColResize data-width="300" data-colwrap="true"
                                 [columnPropertyName]='packagerPropertyName'
                                 headerResourceKey='PACKAGER' 
                                 [currentSortPropertyName]="currentSortPropertyName"    
                                 [customColumnSortOrder]="columnSortDirection"                            
                                 (columnSelected)="columnSelected($event)">
        </div>
        <div app-col-header-sortable class="col" ocGridColResize data-width="200" data-colwrap="true"
                                 [columnPropertyName]='qtyPackagedPropertyName'
                                 headerResourceKey='PACKAGED_QUANTITY'  
                                 [currentSortPropertyName]="currentSortPropertyName"    
                                 [customColumnSortOrder]="columnSortDirection"                          
                                 (columnSelected)="columnSelected($event)">
        </div>        
        <div app-col-header-sortable class="last" ocGridColResize data-width="250" data-colwrap="true"
                                 [columnPropertyName]='datePropertyName'
                                 headerResourceKey='DATE'   
                                 [currentSortPropertyName]="currentSortPropertyName"  
                                 [customColumnSortOrder]="columnSortDirection"                            
                                 (columnSelected)="columnSelected($event)">
        </div>
    </ng-container>
    <ng-container class="ocgridbody" *ngIf="this.unfilteredPrepackVerificationQueueItems">
      <!--<div class="row" *ngFor="let queueItem of prepackVerificationQueueItems | searchPipe:searchTextFilter:searchFields" (click)="navigate(picklist.OrderId)">-->
      <div class="row" *ngFor="let queueItem of this.filteredPrepackVerificationQueueItems">  
        <!--<div class="first" style="align-items: center;">
          <div class="firstcolumncolorblock" [style.background-color]="picklist.PriorityColorCode"></div>
        </div>-->
        <div class="col" [attr.data-title]="'DESCRIPTION_ID' | translate">{{queueItem.ItemDescription}}</div>
        <div class="col" [attr.data-title]="'PACKAGER' | translate">{{queueItem.DeviceDescription}}</div>
        <div class="col" [attr.data-title]="'PACKAGED_QUANTITY' | translate">{{queueItem.PackagedQty}}</div>        
        <div class="col" [attr.data-title]="'DATE' | translate">
            <div>{{queueItem.PackDate | date: 'shortDate'}}
            {{queueItem.PackDate | date: 'shortTime'}}</div>
        </div>       
      </div>
    </ng-container>
  </oc-grid>