<div class="dashboard">
  <app-cp-data-card
  [title]="'VERIFICATION' | translate"
  [data1]="'19'"
  [dataLabel1]="'COMPLETE' | translate"
  [data2]="'100'"
  [dataLabel2]="'REQUIRED' | translate"
  [data3]="'100'"
  [dataLabel3]="'TOTAL' | translate"
  >
  </app-cp-data-card>
  <app-cp-data-card
  [title]="'EXCEPTIONS' | translate"
  [data1]="'0'"
  [dataLabel1]="'COMPLETE' | translate"
  [data2]="'1'"
  [dataLabel2]="'REQUIRED' | translate"
  >
  </app-cp-data-card>
  <app-cp-data-card
  [title]="'REQUIRED_VERIFICATION' | translate"
  [data1]="'0'"
  [dataLabel1]="'COMPLETE' | translate"
  [data2]="'1'"
  [dataLabel2]="'REQUIRED' | translate"
  >
  </app-cp-data-card>
</div>

