<oc-grid #ocgrid ocgridfilter="false">
  <ng-container class="ocgridheader">
    <div class="first" data-colwrap="true"></div>
    <div app-col-header-sortable class="col" ocGridColResize data-width="450" data-colwrap="true"
      [columnPropertyName]='descriptionPropertyName' headerResourceKey='DESCRIPTION_ID'
      [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
    </div>
    <div app-col-header-sortable class="col" ocGridColResize data-width="194" data-colwrap="true"
      [columnPropertyName]='descriptionPropertyName' headerResourceKey='PHARMACY_QOH'
      [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
    </div>
    <div app-col-header-sortable class="col" ocGridColResize data-width="250" data-colwrap="true"
      [columnPropertyName]='destinationPropertyName' headerResourceKey='DESTINATION'
      [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
    </div>
    <div app-col-header-sortable class="col" ocGridColResize data-width="140" data-colwrap="true"
      [columnPropertyName]='qtyFillReqPropertyName' headerResourceKey='QTY_FILLED_REQUESTED'
      [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
    </div>
    <div app-col-header-sortable class="last" ocGridColResize data-width="150" data-colwrap="true"
      [columnPropertyName]='fillDatePropertyName' headerResourceKey='DATE_COMPLETED'
      [currentSortPropertyName]="currentSortPropertyName" (columnSelected)="columnSelected($event)">
    </div>
  </ng-container>
  <ng-container class="ocgridbody">
    <div class="row" *ngFor="let picklistLine of picklistLines">
      <div class="first">
      </div>
      <div class="col" [attr.data-title]="'DESCRIPTION_ID' | translate">
        <span>{{picklistLine.ItemFormattedGenericName}}</span>
        <span>{{picklistLine.ItemBrandName}}</span>
        <span>{{picklistLine.ItemId}}</span>
      </div>
      <div class="col" [attr.data-title]="'PHARMACY_QOH' | translate" style="text-align: center;">
        <span>{{picklistLine.PharmacyQOH}}</span>
      </div>
      <div class="col" [attr.data-title]="'DESTINATION' | translate">
        <div *ngIf="picklistLine.DisplayPatientRoomAndArea">
          <span>{{picklistLine.PatientRoom}}{{'COMMA_SEPARATOR' | translate}}</span>
          <span> {{picklistLine.AreaDescription}}</span>
        </div>
        <div *ngIf="picklistLine.DisplayPatientRoom">
          {{picklistLine.PatientRoom}}
        </div>
        <div *ngIf="picklistLine.DisplayArea">
          {{picklistLine.AreaDescription}}
        </div>
        <div *ngIf="picklistLine.DisplayOmniName">
          {{picklistLine.DestinationOmni}}
        </div>
        <div *ngIf="picklistLine.DisplayPatientNameSecondLine">
          {{picklistLine.PatientName}}
        </div>
      </div>
      <div class="col" [attr.data-title]="'QTY_FILLED_REQUESTED' | translate" style="text-align: center;">
        <span>{{picklistLine.FillQuantity}} / {{picklistLine.OrderQuantity}}</span>
        <span>{{picklistLine.UnfilledReason}}</span>
      </div>
      <div class="last" [attr.data-title]="'DATE_COMPLETED' | translate">
        <div>{{picklistLine.FillDate | date: 'shortDate'}}</div>
        <div>{{picklistLine.FillDate | date: 'mediumTime'}}</div>
      </div>
    </div>
  </ng-container>
</oc-grid>
