<div class="card">
  <div class="header" [ngStyle]="getHeaderStyle()">
    <div class="header-content">
      <div class="description">
        {{ detailedDrawer.Id }}
      </div>
      <div class="title">
        {{ detailedDrawer.QuickPickDispenseBoxes[detailedDrawer.CurrentBoxIndex].PriorityCodeDescription }}
      </div>
      <div class="index">
        <div *ngIf="
            detailedDrawer.QuickPickDispenseBoxes &&
            detailedDrawer.QuickPickDispenseBoxes.length > 0
          ">
          {{ detailedDrawer.CurrentBoxIndex + 1 }} /
          {{ detailedDrawer.QuickPickDispenseBoxes.length }}
        </div>
      </div>
    </div>
  </div>
  <div class="view-container">
    <div class="card-details-view">
      <div class="body">
        <div class="body-content">
          <div class="grid-container">
            <div class="grid-label"><app-traffic-lights></app-traffic-lights></div> <div class="grid-data" [ngStyle]="{'color': 'red'}">Return Bin To Drawer</div>
            <div class="grid-label">Destination</div> <div class="grid-data">Room 4657, South</div>
            <div class="grid-label">Id</div> <div class="grid-data">12345678910</div>
            <div class="grid-label">Qty</div> <div class="grid-data">Destination</div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer-content">
          <div class="action-buttons">
            <oc-button-action [buttonText]="'Back'" (click)="onBackClick()"></oc-button-action>
            <oc-button-action mode="secondary" [buttonIcon]="'print'" [buttonText]="'Print'" (click)="onPrintClick()"></oc-button-action>
          </div>
        </div>
      </div>
    </div>
    <div class="scroll-view">
      <div class="scroll-view-content">
        <app-quick-pick-scroll-view></app-quick-pick-scroll-view>
      </div>
    </div>
  </div>
</div>
