<oc-action-layout>
    <ng-container class="ocactionheader">
        <div class="cpmactiontitle">{{"ROUTE_MAINTENANCE" | translate}}</div>
    </ng-container>
    <ng-container class="ocactiondetails">
        <div class="cpmheaderrow">
           <div *ngIf="!isDefaultRoute">
              <app-header-title-bottom-margin-container [title]="'NAME' | translate" >
                 <input ocTextbox [ngModel]="newRouteName" (ngModelChange)="onRouteNameChange($event)" />
              </app-header-title-bottom-margin-container>
            </div>
            <div *ngIf="isDefaultRoute">
               <app-header-container [title]="'NAME' | translate" >{{newRouteName}}</app-header-container>
            </div>
        </div>
        <div class="panelContainer">
            <div class="leftPanel">
                <oc-grid ocgridfilter="false">
                    <ng-container class="ocgridheader">
                        <div class="first" data-colwrap="true"></div>
                        <div class="col">{{'TYPE' | translate}}</div>
                    </ng-container>
                    <ng-container class="ocgridbody">
                        <div class="row" *ngFor="let priorityCode of (pickRoute$ | async)?.AssignedPriorities">
                            <div class="first"></div>
                            <div class="col" [attr.data-title]="'TYPE' | translate">{{priorityCode}}</div>
                        </div>
                    </ng-container>
                </oc-grid>
            </div>
            <div class="rightPanel">
                <app-edit-device-sequence [enabledDevices]="enabledDevices$ | async" [disabledDevices]="disabledDevices$ | async" (deviceSequenceChanged)="onDeviceSequenceChanged($event)">
                </app-edit-device-sequence>
            </div>
        </div>
    </ng-container>
    <ng-container class="ocactionfooter">
        <oc-footer>
            <div class="ocleftalign">
                <oc-button-action [buttonText]="'BACK' | translate" (click)="navigateBack()"></oc-button-action>
            </div>
            <div *ngIf="isDefaultRoute"><oc-button-action [disabled]="!newDeviceSequence || newDeviceSequence.length == 0" [buttonText]="'SAVE_AS' | translate" (click)="saveAs()"></oc-button-action></div>
            <div *ngIf="!isDefaultRoute"><oc-button-action [disabled]="(!newDeviceSequence || newDeviceSequence.length == 0) && !routeNameChanged" [buttonText]="'SAVE' | translate" (click)="save()"></oc-button-action></div>
        </oc-footer>
    </ng-container>
</oc-action-layout>
