<oc-action-layout>
    <ng-container class="ocactionheader">
        <div class="cpmactiontitle">{{"ROUTE_MAINTENANCE" | translate}}</div>
    </ng-container>
    <ng-container class="ocactiondetails">
        <div class="cpmheaderrow">
           <div *ngIf="!(isDefaultRoute$ | async)">
              <app-header-title-bottom-margin-container [title]="'NAME' | translate" >
                 <input ocTextbox [ngModel]="(pickRoute$ | async)?.Description" (ngModelChange)="onRouteNameChange($event)" />
              </app-header-title-bottom-margin-container>
            </div>
            <div *ngIf="isDefaultRoute$ | async">
               <app-header-container [title]="'NAME' | translate" >{{(pickRoute$ | async)?.Description}}</app-header-container>
            </div>
        </div>
        <app-split-resize [includeHeaderSpacer]="true">
            <ng-container side="left">
                <oc-grid ocgridfilter="false">
                    <ng-container class="ocgridheader">
                        <div class="first" data-colwrap="true"></div>
                        <div class="col">{{'TYPE' | translate}}</div>
                    </ng-container>
                    <ng-container class="ocgridbody">
                        <div class="row" *ngFor="let priorityCode of (pickRoute$ | async)?.AssignedPriorities">
                            <div class="first"></div>
                            <div class="col" [attr.data-title]="'TYPE' | translate">{{priorityCode}}</div>
                        </div>
                    </ng-container>
                </oc-grid>
            </ng-container>
            <ng-container side="right">
                <app-edit-device-sequence [enabledDevices]="enabledDevices$ | async" [disabledDevices]="disabledDevices$ | async" (deviceSequenceChanged)="onDeviceSequenceChanged($event)">
                </app-edit-device-sequence>
            </ng-container>
        </app-split-resize>
    </ng-container>
    <ng-container class="ocactionfooter">
        <oc-footer>
            <div class="ocleftalign">
                <oc-button-action [disabled]="requestStatus != 'none'" [buttonText]="'BACK' | translate" (click)="navigateBack()"></oc-button-action>
            </div>
            <div class="ocrightalign">
                <oc-button-action *ngIf="!(isDefaultRoute$ | async)"
                    [disabled]="!(canDelete$ | async) || (isDefaultRoute$ | async) || !ocsIsHealthy || requestStatus != 'none'"
                    [buttonText]="'DELETE' | translate"
                    (click)="delete()"></oc-button-action>
                <oc-button-action *ngIf="!(isDefaultRoute$ | async)"
                    [buttonIcon]="requestStatus == 'save' ? 'spin' : 'clear'"
                    [disabled]="(!newDeviceSequence || newDeviceSequence.length == 0) && !routeNameChanged || !ocsIsHealthy || requestStatus != 'none'"
                    [buttonText]="'SAVE' | translate"
                    (click)="save()"></oc-button-action>
                <oc-button-action
                    [buttonIcon]="requestStatus == 'saveAs' ? 'spin' : 'clear'"
                    [disabled]="(!newDeviceSequence || newDeviceSequence.length == 0) && !routeNameChanged || !ocsIsHealthy || requestStatus != 'none'"
                    [buttonText]="'SAVE_AS' | translate"
                    (click)="saveAs()"></oc-button-action>
            </div>
        </oc-footer>
    </ng-container>
</oc-action-layout>
