:host{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

:host ::ng-deep oc-grid{
  font-size: 22px;
}

.first-column {
  padding-left: 30px;
}

.centered-content {
  display: flex;
  justify-content: center;
}

.width-destination {
  width: 640px;
}

.width-verification {
  width: 180px;
}

.width-exceptions {
  width: 180px;
}

.width-required-verification {
  width: 280px;
}
