:host{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

:host ::ng-deep oc-grid{
  font-size: 22px;
}

.row {
  cursor: pointer;
}

.first-column {
  padding-left: 30px;
}

.centered-content {
  display: flex;
  justify-content: center;
}

.width-destination {
  width: 680px;
}

.width-verification {
  width: 200px;
}

.width-exceptions {
  width: 200px;
}

.width-output-device {
  width: 200px;
}
