@import "../../../../../../node_modules/@omnicell/webcorecomponents/lib/styles/variables.scss";
:host{
    height: 100%;
    width: 100%;
    flex-direction: column;
}
  
.dateTime{
  font-size: 11px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:white;
  position: relative;
  margin-top: 20px;
 margin-right: 200px;
}
