<oc-action-layout>
    <ng-container class="ocactionheader">
        <div class="cpmactiontitle">{{ 'REQUEST_DEVICE_ACCESS' | translate}}</div>
        <div class="dateTime">
            {{time | date:'M/d/yyyy h:mm a'}}</div>
    </ng-container>

     <ng-container class="ocactiondetails">
        <h3 class="description">{{pageDescription$}}</h3>

        <oc-grid #ocgrid ocgridfilter="false">
            <ng-container class="ocgridheader">
                <div class="first" style="align-items: center;"></div>
                <div class="col width-device" ocGridColResize [attr.data-width]="'350'" >{{devicePropertyName | translate}}</div>
                <div class="col width-device" ocGridColResize [attr.data-width]="'710'">{{deviceOwnerPropertyName | translate}}</div>
            </ng-container>

            <ng-container class="ocgridbody">
                <div class="row" *ngFor="let device of displayDeviceConfigurationList">
                    <div class="first" style="align-items: center;"></div>
                    <div class="col width-device" [attr.data-title]="'devicePropertyName' | translate">{{device.DeviceDescription}}</div>
                    <div class="col width-device" [attr.data-title]="'deviceOwnerPropertyName' | translate">{{device.DefaultOwnerFriendlyName}}</div>
                </div>
            </ng-container>

        </oc-grid>
    </ng-container>

    <ng-container class="ocactionfooter">
        <oc-footer>
            <div class="ocleftalign">
                <oc-button-action [buttonText]="'CANCEL' | translate" [disabled]="disabledButtons" (click)="navigateBack()">}</oc-button-action>
            </div>
            <div class="ocrightalign">
                <oc-button-action [buttonText]="'GO' | translate" [disabled]="disabledButtons" [buttonIcon]="spinIcon" (click)="requestAccessClick()" >}</oc-button-action>
            </div>
        </oc-footer>
    </ng-container>

</oc-action-layout>