<oc-action-layout>
    <ng-container class="ocactionheader">
        <div class="cpmactiontitle">{{ 'Request Device Access' }}</div>
        <div class="dateTime">
            {{time | date:'M/d/yyyy h:mm a'}}</div>
    </ng-container>

     <ng-container class="ocactiondetails">
        <h3 style="padding-left: 10px;">{{pageDescription$}}</h3>
        <oc-grid #ocgrid ocgridfilter="false">
            <ng-container class="ocgridheader">
                <div class="first"></div>
                <app-header-container class="col" ocGridColResize data-width="500" [title]="'devicePropertyName' | translate"></app-header-container>
                <app-header-container class="col" [title]="'deviceOwnerPropertyName' | translate"></app-header-container>
            </ng-container>
            <ng-container class="ocgridbody">
            <div class="row" *ngFor="let device of displayDeviceConfigurationList">
                <div class="first" style="align-items: center;"></div>
                <div class="col width-device" [attr.data-title]="'DEVICE' | translate">{{device.DeviceDescription}}</div>
                <div class="col width-device" [attr.data-title]="'Device Owner' | translate">{{device.DefaultOwnerShortname}}</div>
                </div>
            </ng-container>
        </oc-grid>
    </ng-container>

    <ng-container class="ocactionfooter">
        <oc-footer>
            <div class="ocleftalign">
                <oc-button-action [buttonText]="'Cancel' | translate" [disabled]="disabledButtons" (click)="navigateBack()">}</oc-button-action>
            </div>
            <div class="ocrightalign">
                <oc-button-action [buttonText]="'Go' | translate" [disabled]="disabledButtons" [buttonIcon]="spinIcon" (click)="requestAccessClick()" >}</oc-button-action>
            </div>
        </oc-footer>
    </ng-container>

</oc-action-layout>