<oc-popupwindow-layout
  [windowInfo]="windowInfo"
  [windowFilter]="windowFilter"
  [windowFooter]="windowFooter">
<ng-container class="ocwindowheader">
  <div>{{data.popupTitle | translate}}</div>
</ng-container>
<ng-container class="ocwindowinfo">
  <div>
    <h5>{{data.itemDescritpion}}</h5>
  </div>
  <div>
    <h5>{{'PACKS' | translate}} {{data.itemPackSize}}</h5>
  </div>
</ng-container>
<ng-container class="ocwindowfilter">
  <div class="filter">
    <div class="search">
      <oc-search-box #ocsearchbox [placeHolderText]="'ENTER_TEXT' | translate"></oc-search-box>
    </div>
  </div>
</ng-container>
<ng-container class="ocwindowcontent">
  <div class="examplecontainer">
    <oc-grid #ocgrid ocgridfilter="false"
      appGridMultiSelect (selectionChanged)="selectedPickChanged($event)">
      appGridSortCol [initialSortPropertyName]="locationDescriptionPropertyName" [orderableValues]="data.itemLocations" (valuesReordered)="assignedItems = $event">
      <ng-container class="ocgridheader">
        <div #headerCheckContainer class="first" data-colwrap="true"></div>
        <div app-col-header-sortable class="col" ocGridColResize data-width="450" data-colwrap="true"
          [columnPropertyName]="locationDescriptionPropertyName" headerResourceKey="SOURCE_LOCATION">
        </div>
        <div app-col-header-sortable class="col" ocGridColResize data-colwrap="true" [wrap]="true"
          [columnPropertyName]="expirationDatePropertyName" headerResourceKey="EXPIRATION_DATE">
        </div>
        <div app-col-header-sortable class="col" ocGridColResize data-colwrap="true" [wrap]="true"
            [columnPropertyName]="quantityOnHandPropertyName" headerResourceKey="QOH">
        </div>
        <div app-col-header-sortable class="col" ocGridColResize data-colwrap="true" [wrap]="true"
            [columnPropertyName]="quantityPropertyName" headerResourceKey="REQUESTED_QTY">
        </div>
      </ng-container>
      <ng-container class="ocgridbody">
        <div class="row"
          *ngFor="let itemLocation of (data.itemLocations | searchPipe:searchTextFilter:searchPropertyNames)"
          (click)="selectedPickChanged()">
          <div class="first">
            <oc-checkbox [selected]="itemLocation.IsSelected" [noLabel]="true" [valueField]="itemLocation">
            </oc-checkbox>
          </div>
          <div class="col" [attr.data-title]="'SOURCE_LOCATION' | translate">
                <div>{{itemLocation.LocationDescription}}</div>
            </div>
            <div class="col" [attr.data-title]="'EXPIRATION_DATE' | translate">
                <span>{{itemLocation.ExpirationDate}}</span>
            </div>
            <div class="col" [attr.data-title]="'QOH' | translate">
                <span>{{itemLocation.QuantityOnHand}}</span>
            </div>
            <div class="col" [attr.data-title]="'PICK_QTY' | translate">
              <oc-numeric [units]="data.itemPackSize == 1 ? itemLocation.UnitOfIssue : ('PACKS' | translate)"
                          [(ngModel)]="itemLocation.Quantity"
                          [disabled]="true"
                          [maxValue]="999999"
                          [maxDecimalDigit]="0">
              </oc-numeric>
              <div *ngIf="data.itemPackSize > 1">
                <p style="font-size: 12px;">{{'ONDEMAND_QUANTITY_TO_PICK' | translate}} {{itemLocation.Quantity * data.itemPackSize}} {{itemLocation.unitOfIssue}}</p>
              </div>
            </div>
        </div>
      </ng-container>
    </oc-grid>
  </div>
</ng-container>
<ng-container class="ocwindowfooter">
  <oc-footer>
    <div class="ocleftalign">
      <oc-button-action [buttonText]="'CANCEL' | translate" (click) ="cancel()"></oc-button-action>
    </div>
    <div class="ocrightalign">
      <oc-button-action [buttonText]="'OK' | translate" (click) ="continue()"></oc-button-action>
    </div>
  </oc-footer>
</ng-container>
</oc-popupwindow-layout>
