:host{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
:host ::ng-deep oc-search-box{
  width: 358px !important;
  margin-right: 10px;
}
.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}
.iconcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  overflow-y:hidden;
}
.fillWidth {
  width:100%;
  justify-items: center;
}
.refresh-label {
  font-size: 14px;
    font: caption
}
.last-refresh {
    font-size: 14px;
    font: caption
  }

