<oc-action-layout>
    <ng-container class="ocactionheader">
        <div class="cpmactiontitle">{{"ROUTE_ASSIGNMENT" | translate}}</div>
    </ng-container>
    <ng-container class="ocactiondetails">
        <div class="cpmheaderrow">
            <app-header-container [title]="'TYPE' | translate">{{(priorityCode$ | async)?.PriorityCodeDescription}}</app-header-container>
        </div>
      </ng-container>
        <ng-container class="ocactiondetails">
        <div class="panelContainer" >
            <div class="leftPanel" >
               <app-pick-route-select
               (SelectionChange)="pickrouteUpdated($event)"
               [listMap]="routeList | async"
               [selectedItem]="pickRoute"
               [colDescription]="'ROUTE_NAME' | translate"
               >
              </app-pick-route-select>
            </div>
            <div class="rightPanel" >
                <app-device-sequence-order
                [Devices]="deviceList$ | async"
                [colHeader] ="'DEVICE' | translate">
               </app-device-sequence-order>
            </div>
          </div>
    </ng-container>
    <ng-container class="ocactionfooter">
        <oc-footer>
            <div class="ocleftalign">
                <oc-button-action [disabled]="saveInProgress" [buttonText]="'BACK' | translate" (click)="navigateBack()"></oc-button-action>
            </div>
            <div class="ocrightalign">
                <oc-button-action [routerLink]="['/pickRoutes', routerLinkPickRouteId]" [buttonText]="'MAINTENANCE' | translate"
                    [disabled]="saveInProgress || !isEditAvailable || !ocsIsHealthy"></oc-button-action>
                <oc-button-action [buttonIcon]="saveInProgress ? 'spin' : 'clear'" [buttonText]="'SAVE' | translate" [disabled]="saveInProgress || !canSave || !ocsIsHealthy" (click)="save()"></oc-button-action>
            </div>
        </oc-footer>
    </ng-container>
</oc-action-layout>
