<ng-container class="ocactiondetails">
  <oc-grid #ocgrid ocgridfilter="false">
    <ng-container class="ocgridheader">
      <div app-col-header-sortable class="first" data-colwrap="true"
        [columnPropertyName]="sequenceOrderPropertyName" headerResourceKey=""
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <!-- 1280 px total-->
      <div app-col-header-sortable class="col" ocGridColResize data-width="480" data-colwrap="true"
        [columnPropertyName]="typePropertyName" headerResourceKey="TYPE"
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="150" data-colwrap="true"
        [columnPropertyName]="newPropertyName" headerResourceKey="NEW"
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="150" data-colwrap="true"
        [columnPropertyName]="releasedPropertyName" headerResourceKey="RELEASED"
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col" ocGridColResize data-width="250" data-colwrap="true"
        [columnPropertyName]="deviceDescriptionPropertyName" headerResourceKey="DEVICE"
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <div class="last width-type" data-width="250" data-colwrap="true">{{'ACTIONS' | translate}}</div>
    </ng-container>
    <ng-container class="ocgridbody">
      <div class="row"
       *ngFor="let picklistQueueGroup of this.filteredPicklistQueueGrouped | searchPipe:searchTextFilter:searchFields">
        <div class="first" style="align-items: center;">
          <div class="firstcolumncolorblock" [style.background-color]="picklistQueueGroup.PriorityCodeColor"></div>
        </div>
        <div class="col width-type" [attr.data-title]="'TYPE' | translate">
          <div class=priority-container>
            <span class="priority-description">{{picklistQueueGroup.PriorityCodeDescription}}</span>
            <app-cp-data-label
              [data]="picklistQueueGroup.AreaCount"
              [label]="getAreaCountLabel(picklistQueueGroup.AreaCount) | translate"
            ></app-cp-data-label>
          </div>
        </div>
        <div class="col width-type" [attr.data-title]="'NEW' | translate">
          <span class="centered-content">
            <app-cp-data-label
            [data]="picklistQueueGroup.NewCount"
            [label]="getCountLabel(picklistQueueGroup.NewCount, picklistQueueGroup.DestinationType) | translate"
            ></app-cp-data-label>
          </span>
        </div>
        <div class="col width-type" [attr.data-title]="'RELEASED' | translate">
          <span class="centered-content">
            <app-cp-data-label
            [data]="picklistQueueGroup.ReleasedCount"
            [label]="getCountLabel(picklistQueueGroup.ReleasedCount, picklistQueueGroup.DestinationType) | translate"
            ></app-cp-data-label>
          </span>
        </div>
        <div class="col width-type" [attr.data-title]="'DEVICE' | translate">
          <span [ngStyle]="{'font-size': '18px'}">{{picklistQueueGroup.DeviceDescription}}</span>
          <oc-singleselect
            [popupDirection]="'AUTO'"
            [tableData]="getActiveOutputDeviceList(picklistQueueGroup)"
            [selectedItem]="getSelectedOutputDeviceRow(picklistQueueGroup)"
            (selectionChanged)="onOutputDeviceSelectionChanged($event, picklistQueueGroup)">
          </oc-singleselect>
        </div>
        <div class="col width-type" [attr.data-title]="'ACTIONS' | translate">
          <div class="btn-group">
            <app-cp-clickable-icon
              [width]="35"
              [height]="35"
              [theme]="'dark'"
              [label]="getReleaseButtonProperties(picklistQueueGroup).text | translate"
              [disabled]="getReleaseButtonProperties(picklistQueueGroup).disabled"
              [icon]="'openv1-right'"
              (clickEvent)="onReleaseClick(picklistQueueGroup)">
            </app-cp-clickable-icon>
            <app-cp-clickable-icon
            [width]="35"
            [height]="35"
            [theme]="'dark'"
            [icon]="'search'"
            [label]="'DETAILS' | translate"
            (clickEvent)="onDetailsClick(picklistQueueGroup)">
            </app-cp-clickable-icon>
          </div>
        </div>
      </div>
    </ng-container>
  </oc-grid>
</ng-container>
