<style>
    * {
      box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
    }
    </style>
<div class="cpmgridheader">
</div>

<div class="row">
 <div class="column">
    <oc-grid #ocgrid ocgridfilter="false">
        <ng-container class="ocgridheader">
          <div class="first" ></div>
          <div class="col" ocGridColResize data-width="584" data-colwrap="true">{{'ROUTE_NAME' | translate}}</div>
        </ng-container>

        <ng-container class="ocgridbody" >
          <div class="row" *ngFor="let rad of pickrouteDevices">
            <div class="first" style="align-items: center;">
            </div>
            <div class="col" [attr.data-title]="'ROUTE_NAME' | translate">{{rad.RouteDescription}}</div>
          </div>
        </ng-container>
    </oc-grid>
   </div>
<div class="column">
    <oc-grid #ocgrid ocgridfilter="false">
        <ng-container class="ocgridheader">
          <div class="first" ></div>
          <div class="col width=id">{{'DEVICE' | translate}}</div>
        </ng-container>

        <ng-container class="ocgridbody" >
          <div class="row" *ngFor="let device of devices">
            <div class="first" style="align-items: center;">
            </div>
            <div class="col" [attr.data-title]="'DEVICE' | translate">{{device.DeviceDescription}}</div>
          </div>
        </ng-container>
    </oc-grid>
</div>
</div>
