:host{
    flex: 1;
}
.cpmheadercontainer{
    display: inline-flex;
    flex-direction: column;
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
}
.cpmheadertitle{
    font-size: 14px;
    margin-bottom: -4px;
}
.cpmheadervalue{
    font-size: 22px;
    font-weight: 600;
}