<ng-container class="ocactiondetails">
    <div class="cpmheaderrow">          
     <oc-button-action [buttonText]="'MANUAL_CYCLE_COUNT' | translate" (click)="navigatemanualcyclecount()" ></oc-button-action>     
      <app-header-container></app-header-container>           
      <oc-search-box class="searchbox" #searchBox placeHolderText="Search"></oc-search-box>
    </div>
  <ng-container>
    <oc-grid #ocgrid ocgridfilter="false">
      <ng-container class="ocgridheader">
          <div class="first" data-colwrap="true"></div>
          <div app-col-header-sortable class="col" ocGridColResize data-width="500" data-colwrap="true"
                               [columnPropertyName]="devicePropertyName"
                               headerResourceKey="DEVICE"
                               [currentSortPropertyName]="currentSortPropertyName"
                               (columnSelected)="columnSelected($event)">
          </div>
          <div app-col-header-sortable class="col" ocGridColResize data-width="280" data-colwrap="true"
                               [columnPropertyName]="lastCycleCountPropertyName"
                               headerResourceKey="LAST_CYCLE_COUNT_DATE"
                               [currentSortPropertyName]="currentSortPropertyName"
                               (columnSelected)="columnSelected($event)">
          </div>
          <div app-col-header-sortable class="last" ocGridColResize data-width="280" data-colwrap="true"
                               [columnPropertyName]="earliestExpirationDatePropertyName"
                               headerResourceKey="EARLIEST_EXPIRATION_DATE"
                               [currentSortPropertyName]="currentSortPropertyName"
                               (columnSelected)="columnSelected($event)">
          </div>
      </ng-container>
      <ng-container class="ocgridbody">
        <div class="row" *ngFor="let guidedDevice of (displayGuidedDeviceList$ | async) | searchPipe:searchTextFilter:searchFields"
          (click)="(guidedDevice.NumberOfLocationsWithOutdatedCycleCount > 0
          || guidedDevice.NumberOfLocationsExpiringSoon > 0 ) && navigate(guidedDevice.DeviceId)">
            <div class="first" style="align-items: center;"></div>
            <div class="col width-device" [attr.data-title]="'DEVICE' | translate">{{guidedDevice.DeviceDescription}}</div>
            <div class="col width-lastcount" [attr.data-title]="'LAST_CYCLE_COUNT_DATE' | translate">
              <div [ngPlural]="guidedDevice.NumberOfLocationsWithOutdatedCycleCount">
                  <ng-template ngPluralCase="=1">{{guidedDevice.NumberOfLocationsWithOutdatedCycleCount}} {{'BIN' | translate}}</ng-template>
                  <ng-template ngPluralCase="other">{{guidedDevice.NumberOfLocationsWithOutdatedCycleCount}} {{'BINS' | translate}}</ng-template>
              </div>
            </div>
            <div class="last width-exp" [attr.data-title]="'EARLIEST_EXPIRATION_DATE' | translate">
              <div [ngPlural]="guidedDevice.NumberOfLocationsExpiringSoon">
                <ng-template ngPluralCase="=1"> {{guidedDevice.NumberOfLocationsExpiringSoon}} {{'BIN' | translate}} </ng-template>
                <ng-template ngPluralCase="other"> {{guidedDevice.NumberOfLocationsExpiringSoon}} {{'BINS' | translate}} </ng-template>
              </div>
              <div class="cpmwarningtext" *ngIf="guidedDevice.ContainsExpiredItem">
                Contains bins that are expired
              </div>
            </div>
          </div>
      </ng-container>
    </oc-grid>
  </ng-container>
</ng-container>
