:host{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

:host ::ng-deep oc-grid{
  font-size: 22px;
}

:host ::ng-deep oc-search-box{
  width: 358px !important;
  margin-right: 10px;
}

.skip-button {
  float: right;
}

.row {
  cursor: pointer;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: auto;
  padding-right: 20px;
}

.destination-details {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.destination-route {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.centered-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-destination {
  width: 415px;
}

.width-item {
  width: 110px;
}

.width-status {
  width: 170px;
}

.width-device {
  width: 250px;
}

.width-actions {
  width: 250px;
}


