<ng-container class="ocactiondetails">
  <oc-grid #ocgrid ocgridfilter="false">
    <!-- 1280 px total-->
    <!-- 85px for first col -->
    <ng-container class="ocgridheader">
      <div>
          <oc-checkbox
            [selected]="filteredPicklistQueueItems && filteredPicklistQueueItems.length > 0 && isEveryItemSelected(this.filteredPicklistQueueItems)"
            [noLabel]="true"
            [valueField]="checkboxToggleAll"
            (selection)="onSelectAllCheckBox($event)">
          </oc-checkbox>
      </div>
      <div app-col-header-sortable class="col width-destination"
        ocGridColResize
        headerResourceKey="DESTINATION"
        [attr.data-width]="415"
        [columnPropertyName]="destinationPropertyName"
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <div app-col-header-sortable class="col width-item"
        ocGridColResize
        [attr.data-width]="110"
        [columnPropertyName]="itemPropertyName"
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <div class="col width-status" ocGridColResize data-width="170" >{{'STATUS' | translate}}</div>
      <div app-col-header-sortable class="col width-device"
        ocGridColResize
        headerResourceKey="DEVICE"
        [attr.data-width]="250"
        [columnPropertyName]="deviceDescriptionPropertyName"
        [currentSortPropertyName]="currentSortPropertyName"
        (columnSelected)="columnSelected($event)">
      </div>
      <div class="col width-actions" ocGridColResize data-width="250">{{'ACTIONS' | translate}}</div>
    </ng-container>
    <ng-container class="ocgridbody">
      <div class="row"
      *ngFor="let picklistQueueItem of filteredPicklistQueueItems; trackBy: trackByPicklistQueueItemId"
      [ngStyle]="{'background-color': isContainedInSelected(picklistQueueItem) ? 'gainsboro': ''}">
        <div class="first" style="align-items: center;">
          <oc-checkbox valueField='enterprise'
          [noLabel]="true"
          [selected]="isContainedInSelected(picklistQueueItem)"
          (selection)="onSelectItemCheckBox($event, picklistQueueItem)">
        </oc-checkbox>
        </div>
        <div class="col width-destination" [attr.data-title]="'DESTINATION' | translate">
          <span>{{picklistQueueItem.Destination}}</span>
          <div class="destination-details">
            <span [ngStyle]="{'font-size': '14px'}">{{picklistQueueItem.OrderId}}</span>
            <span [ngStyle]="{'font-size': '14px'}">{{getOrderDate(picklistQueueItem)}}</span>
          </div>
        </div>
        <div class="col width-item" [attr.data-title]="'ITEMS' | translate">
          <app-cp-data-label class="centered-item"
            [data]="getItemCountForDisplay(picklistQueueItem)"
            [label]="getItemPriorityLabel(picklistQueueItem) | translate">
          </app-cp-data-label>
        </div>
        <div class="col width-status" [attr.data-title]="'STATUS' | translate">
          <span *ngIf="picklistQueueItem.Status===1 || picklistQueueItem.Status===2"
            class="centered-item">
            {{getStatusLabel(picklistQueueItem)}}
          </span>
          <app-cp-data-label *ngIf="picklistQueueItem.Status===3 || picklistQueueItem.Status===4"
            class="centered-item"
            [data]="getOrderSplitDataString(picklistQueueItem)"
            [label]="getOrderSplitDataLabel(picklistQueueItem) | translate">
          </app-cp-data-label>
        </div>
        <div class="col width-device" [attr.data-title]="'DEVICE' | translate">
          <span [ngStyle]="{'font-size': '17px'}">{{picklistQueueItem.DeviceDescription}}</span>
          <oc-singleselect
            [popupDirection]="'AUTO'"
            [disabled]="picklistQueueItem.Status > 1"
            [tableData]="getActiveOutputDeviceList(picklistQueueItem)"
            [selectedItem]="getSelectedOutputDeviceRow(picklistQueueItem)"
            (selectionChanged)="onOutputDeviceSelectionChanged($event, picklistQueueItem)">
          </oc-singleselect>
        </div>
        <div class="col width-actions" [attr.data-title]="'ACTIONS' | translate">
          <div class="btn-group">
            <app-cp-clickable-icon *ngIf="picklistQueueItem.Status===1"
            [width]="35"
            [height]="35"
            [theme]="'dark'"
            [label]="getReleaseButtonProperties(picklistQueueItem).text | translate"
            [disabled]="getReleaseButtonProperties(picklistQueueItem).disabled"
            [icon]="'send'"
            (clickEvent)="onReleaseClick(picklistQueueItem)">
            </app-cp-clickable-icon>
            <app-cp-clickable-icon *ngIf="picklistQueueItem.Status!==1"
            [width]="35"
            [height]="35"
            [theme]="'dark'"
            [label]="getPrintButtonProperties(picklistQueueItem).text | translate"
            [disabled]="getPrintButtonProperties(picklistQueueItem).disabled"
            [icon]="'print'"
            (clickEvent)="onPrintClick(picklistQueueItem)">
            </app-cp-clickable-icon>
            <app-cp-clickable-icon
            [width]="35"
            [height]="35"
            [theme]="'dark'"
            [label]="getRerouteButtonProperties(picklistQueueItem).text | translate"
            [disabled]="getRerouteButtonProperties(picklistQueueItem).disabled"
            [icon]="'reroute'"
            (clickEvent)="onRerouteClick(picklistQueueItem)">
            </app-cp-clickable-icon>
          </div>
        </div>
      </div>
    </ng-container>
  </oc-grid>
</ng-container>

