<oc-grid appGridMultiSelect (selectionChanged)="onSelectionChanged($event)" appGridReorder (orderChanged)="onOrderChanged($event)" ocgridfilter="false">
    <ng-container class="ocgridheader">
        <div class="first" data-colwrap="true"></div>
        <div class="col">
            {{'Device' | translate}}
        </div>
    </ng-container>
    <ng-container class="ocgridbody">
        <div class="row" *ngFor="let device of enabledDevices; let isFirst = first; let isLast = last">
            <div class="first">
                <oc-checkbox [valueField]="device" [selected]="true"></oc-checkbox>
            </div>
            <div style="flex-direction: row;" class="col" [attr.data-title]="'DEVICE' | translate">
                <div style="flex-grow: 1;">
                    <div style="display: flex; flex-direction: column; justify-content: center; min-height: 48px;">
                        {{device.DeviceDescription}}
                    </div>
                </div>
                <app-row-reorder-buttons [value]="device" [upDisabled]="isFirst" [downDisabled]="isLast"></app-row-reorder-buttons>
            </div>
        </div>
        <div class="row" *ngFor="let device of disabledDevices">
            <div class="first">
                <oc-checkbox [valueField]="device" [selected]="false"></oc-checkbox>
            </div>
            <div [attr.data-title]="'DEVICE' | translate">
                {{device.DeviceDescription}}
            </div>
        </div>
    </ng-container>
</oc-grid>