<oc-grid appGridMultiSelect (selectionChanged)="onSelectionChanged($event)" appGridReorder (orderChanged)="onOrderChanged($event)" ocgridfilter="false">
    <ng-container class="ocgridheader">
        <div class="first" data-colwrap="true">
            <oc-checkbox [selected]="disabledDevices && disabledDevices.length == 0" [noLabel]="true" [isEnabled]="!disabled" [valueField]="checkboxToggleAll"></oc-checkbox>
        </div>
        <div class="col">
            {{'Device' | translate}}
        </div>
    </ng-container>
    <ng-container class="ocgridbody">
        <div class="row" *ngFor="let device of enabledDevices; let isFirst = first; let isLast = last; let i = index;">
            <div class="first">
                <oc-checkbox [noLabel]="true" [isEnabled]="!disabled" [valueField]="device" [selected]="true"></oc-checkbox>
            </div>
            <div style="flex-direction: row;" class="col" [attr.data-title]="'DEVICE' | translate">
                <div style="flex-grow: 1;">
                    <div style="display: flex; flex-direction: column; justify-content: center; min-height: 20px; padding-top: 14px;">
                        {{device.DeviceDescription}}
                    </div>
                    <div *ngIf="device.OutputDevices != null" style="font-size: small;font-style: italic; height: 20px;">
                        {{getCurrentOutputDeviceDescription(device.DeviceOutput.DeviceOutputType, device.DeviceOutput.IsAutoFill)}}
                    </div>
                </div>
                <div *ngIf="device.OutputDevices != null" style="padding: 10px;">
                    <app-cp-clickable-icon [width]="35" [height]="35" [theme]="'dark'" [icon]="'edit'"
                        (clickEvent)="onOutputDeviceEditClick(device)">
                    </app-cp-clickable-icon>
                </div>
                <app-row-reorder-buttons [disabled]="disabled" [allowEditIndex]="true" [orderableLength]="enabledDevices.length" [value]="device" [upDisabled]="isFirst" [downDisabled]="isLast" [index]="i"></app-row-reorder-buttons>
            </div>
        </div>
        <div class="row" *ngFor="let device of disabledDevices">
            <div class="first">
                <oc-checkbox [noLabel]="true" [isEnabled]="!disabled" [valueField]="device" [selected]="false"></oc-checkbox>
            </div>
            <div [attr.data-title]="'DEVICE' | translate">
                {{device.DeviceDescription}}
            </div>
        </div>
    </ng-container>
</oc-grid>
