:host {
    display: inline-flex;
}
.reorderBtnLeft{
    margin-right: 10px;
}
.reorderBtnRight{
    margin-left: 10px;
}
.indexInput{
    width: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}