<oc-grid #ocgrid ocgridfilter="false">
    <ng-container class="ocgridheader">
      <div class="first" ></div>
      <div class="col description">{{colHeader}}</div>
    </ng-container>

    <ng-container class="ocgridbody" >
      <div class="row" *ngFor="let device of Devices">
        <div class="first" style="align-items: center;"></div>
        <div style="flex-direction: row;" class="col" [attr.data-title]="colHeader">
          <div style="flex-grow: 1;">
              <div style="display: flex; flex-direction: column; justify-content: center; min-height: 20px; padding-top: 14px;">
                  {{device.DeviceDescription}}
              </div>
              <div *ngIf="device.OutputDevices != null" style="font-size: small;font-style: italic; height: 20px;">
                  {{getCurrentOutputDeviceDescription(device)}}
              </div>
          </div>
      </div>
      </div>
    </ng-container>
</oc-grid>
